In [1]:
from collections import OrderedDict
from urbansim_templates import modelmanager as mm
from urbansim_templates.models import LargeMultinomialLogitStep
from urbansim_templates.models import SmallMultinomialLogitStep
import orca
import os; os.chdir('../')
import warnings; warnings.simplefilter('ignore')

import pandas as pd
# import pandana as pdna
import time
import numpy as np
import matplotlib.pyplot as plt
import os
from functools import reduce

import scipy.stats as st
from scipy.stats import skewnorm

# import matplotlib
# matplotlib.style.use('ggplot')

%matplotlib inline

pd.options.display.max_columns = 80

## Load Data

In [2]:
trips = pd.read_csv('/home/emma/ual_model_workspace/fall-2018-models/notebooks-emma/HWtrips_031418.csv')

trips.head()

,Unnamed: 0,HHPER,HHPERTRIP,origin,origin_dwell,origin_ST,origin_ET,trip_ET,TT,MODE
0,0,10351981,1.035198e+09,home,14.000000,17.333333,7.333333,7.700000,0.366667,drive_alone
1,1,10351981,1.035198e+09,work,9.383333,7.700000,17.083333,17.333333,0.250000,drive_alone
2,2,10351982,1.035198e+09,home,10.416667,19.583333,6.000000,6.250000,0.250000,drive_alone
3,3,10351982,1.035198e+09,work,10.250000,6.250000,16.500000,19.583333,3.083333,drive_alone
4,4,10352742,1.035274e+09,home,13.583333,19.166667,8.750000,9.166667,0.416667,drive_alone

## Prepare TOD and Dwell columns

In [3]:
#select people who make both home-work and work-home trips:
trips = trips.groupby('HHPER').filter(lambda x: len(x) == 2)

In [4]:
#make sure all home-work trip rows are listed first
trips = trips.sort_values(['HHPER','origin']).reset_index()

In [5]:
#move work-home trip info up into home-work trip rows

trips['work_dwell'] = trips.groupby('HHPER', group_keys=False).origin_dwell.shift(-1)
trips['work_ST'] = trips.groupby('HHPER', group_keys=False).origin_ST.shift(-1)
trips['WH_trip_ST'] = trips.groupby('HHPER', group_keys=False).origin_ET.shift(-1)
trips['WH_trip_ET'] = trips.groupby('HHPER', group_keys=False).trip_ET.shift(-1)
trips['WH_TT'] = trips.groupby('HHPER', group_keys=False).TT.shift(-1)
trips['WH_mode'] = trips.groupby('HHPER', group_keys=False).MODE.shift(-1)

In [6]:
trips = trips.groupby('HHPER').first().reset_index()

In [7]:
trips.rename(columns = {'origin_dwell':'home_dwell','origin_ST':'home_ST','origin_ET':'HW_trip_ST',
                           'trip_ET':'HW_trip_ET','TT':'HW_TT','MODE':'HW_mode'},inplace = True)

trips.head()

,HHPER,index,Unnamed: 0,HHPERTRIP,origin,home_dwell,home_ST,HW_trip_ST,HW_trip_ET,HW_TT,HW_mode,work_dwell,work_ST,WH_trip_ST,WH_trip_ET,WH_TT,WH_mode
0,10351981,0,0,1.035198e+09,home,14.000000,17.333333,7.333333,7.700000,0.366667,drive_alone,9.383333,7.700000,17.083333,17.333333,0.250000,drive_alone
1,10351982,2,2,1.035198e+09,home,10.416667,19.583333,6.000000,6.250000,0.250000,drive_alone,10.250000,6.250000,16.500000,19.583333,3.083333,drive_alone
2,10352742,4,4,1.035274e+09,home,13.583333,19.166667,8.750000,9.166667,0.416667,drive_alone,7.583333,9.166667,16.750000,19.166667,2.416667,drive_alone
3,10353643,6,6,1.035364e+09,home,11.333333,19.583333,6.916667,7.416667,0.500000,drive_alone,8.633333,7.416667,16.050000,19.583333,3.533333,drive_alone
4,10372952,8,8,1.037295e+09,home,17.166667,21.833333,15.000000,15.416667,0.416667,drive_alone,6.000000,15.416667,21.416667,21.833333,0.416667,drive_alone

In [8]:
trips['TOD'] = (
    ((trips.HW_trip_ET.between(3,6,inclusive = False)) | (trips.HW_trip_ET==3))*1 +
    ((trips.HW_trip_ET.between(6,9,inclusive = False)) | (trips.HW_trip_ET==6))*2 +
    ((trips.HW_trip_ET.between(9,15.5,inclusive = False)) | (trips.HW_trip_ET==9))*3 +
    ((trips.HW_trip_ET.between(15.5,18.5,inclusive = False)) | (trips.HW_trip_ET==15.5))*4 +
    ((trips.HW_trip_ET>=18.5))*5 +
    ((trips.HW_trip_ET.between(0,3,inclusive = False)) | (trips.HW_trip_ET==0))*5
)

trips['TOD'] = trips['TOD'] - 1

In [9]:
trips['TOD'] = pd.to_numeric(trips['TOD'])

In [10]:
trips['dwell_work'] = (
    ((trips.work_dwell.between(0,4.5,inclusive = False)) | (trips.work_dwell==0))*1 +
    ((trips.work_dwell.between(4.5,7.75,inclusive = False)) | (trips.work_dwell==4.5))*2 +
    ((trips.work_dwell.between(7.75,9.0,inclusive = False)) | (trips.work_dwell==7.75))*3 +
    ((trips.work_dwell.between(9.0,10.5,inclusive = False)) | (trips.work_dwell==9.0))*4 +
    ((trips.work_dwell>=10.5))*5)

## Add the demographic variables

In [11]:
person = pd.read_csv('/home/data/CHTS_csv_format/data/Deliv_PER.csv')

person.head()

,SAMPN,PERNO,RELAT,GEND,AGE,AGEB,HISP,RACE1,RACE2,RACE3,RACE4,O_RACE,NTVTY,CNTRY,LIC,USER,TRANS,TPTYP1,TPTYP2,TPTYP3,TPTYP4,TPTYP5,TPTYP6,TPTYP7,O_TPTYP,CLIP1,CLIP2,CLIP3,COMP,MET,PASSTL,FLEX,EMPLY,WKSTAT,O_WKSTAT,JOBS,WLOC,WNAME,WCITY,WSTAT,...,HVLOG,PTRIPS,TOLLF,TOLLR1,TOLLR2,TOLLR3,TOLLR4,TOLLR5,TOLLR6,TOLLR7,TOLLR8,TOLLR9,TOLLR10,TOLLB1,TOLLB2,TOLLB3,TOLLB4,TOLLB5,TOLLB6,TOLLB7,TOLLB8,TOLLB9,TOLLB10,HOVL,NOGOWHY,NOGOWHY_O,InComplete,Moto_trip,WCTFIP,WTRACT,SCTFIP,STRACT,WPrimaryCity,WSTFIP,W2PrimaryCity,W2STFIP,SPrimaryCity,SSTFIP,PERWGT,EXPPERWGT
0,1031985,1,1,1,74,NaN,2,1.0,NaN,NaN,NaN,NaN,1,NaN,1.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,2.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.052086,17.647568
1,1031985,2,2,2,73,NaN,2,1.0,NaN,NaN,NaN,NaN,1,NaN,1.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,2.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.052086,17.647568
2,1032036,1,1,1,46,NaN,2,1.0,NaN,NaN,NaN,NaN,1,NaN,1.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,1.0,NaN,NaN,1.0,1.0,HIDDEN,SAN DIEGO,CA,...,NaN,5.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,73.0,17032.0,NaN,NaN,SAN DIEGO,6.0,NaN,NaN,NaN,NaN,1.223974,414.701494
3,1032036,2,2,2,47,NaN,2,1.0,97.0,NaN,NaN,MULTI-RACIAL,1,NaN,1.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,18.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.863473,292.558373
4,1032036,3,3,1,15,NaN,2,1.0,97.0,NaN,NaN,MULTI-RACIAL,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,73.0,17030.0,NaN,NaN,NaN,NaN,SAN DIEGO,6.0,0.941412,318.965100

In [12]:
person = person[['SAMPN','PERNO','GEND','AGE','HISP','RACE1','RACE2','RACE3','RACE4',
                 'HOURS','EDUCA','INDUS']]

In [13]:
person['HHPER'] = person['SAMPN'].map(str) + person['PERNO'].map(str)

In [14]:
hh_df = pd.read_csv('/home/data/CHTS_csv_format/data/Deliv_HH.csv')[
  ['SAMPN','HHVEH',
   'OWN','INCOM','HHSIZ']]

hh_df.head()

     SAMPN  HHVEH  OWN  INCOM  HHSIZ
0  1031985      2    1      3      2
1  1032036      1    1      7      5
2  1032053      2    2      2      6
3  1032425      2    1      7      2
4  1032558      0    2      1      1

In [15]:
demo = person.merge(hh_df,on = 'SAMPN',how = 'left')

demo.head()

,SAMPN,PERNO,GEND,AGE,HISP,RACE1,RACE2,RACE3,RACE4,HOURS,EDUCA,INDUS,HHPER,HHVEH,OWN,INCOM,HHSIZ
0,1031985,1,1,74,2,1.0,NaN,NaN,NaN,NaN,6,NaN,10319851,2,1,3,2
1,1031985,2,2,73,2,1.0,NaN,NaN,NaN,NaN,6,NaN,10319852,2,1,3,2
2,1032036,1,1,46,2,1.0,NaN,NaN,NaN,40.0,6,54.0,10320361,1,1,7,5
3,1032036,2,2,47,2,1.0,97.0,NaN,NaN,NaN,6,NaN,10320362,1,1,7,5
4,1032036,3,1,15,2,1.0,97.0,NaN,NaN,NaN,1,NaN,10320363,1,1,7,5

## Get rid of null values

In [16]:
na_dict = {
    'GEND':[9],
    'AGE':[998,999],
    'HOURS':[998,999],
    'EDUCA':[8,9],
    'HHVEH':[98,99],
    'OWN':[7,8,9],
    'INCOM':[98,99],
    'HHSIZ':[98,99],
    'INDUS':[98,99],
}

for col in na_dict:
    for vals in na_dict[col]:
        demo[col] = demo[col].replace(vals,np.nan)

In [17]:
demo = demo.dropna(subset = ['GEND', 'AGE', 'HOURS', 'EDUCA','HHVEH','OWN','INCOM','HHSIZ','INDUS'])

In [18]:
trips['HHPER'] = trips['HHPER'].map(str)

trips1 = pd.merge(trips, demo, on='HHPER')

print (len(trips.index))
print (len(trips1.index))

21285
17943

## Prepare data for use in MNL estimation (make dummy columns)

In [19]:
trips1['minority'] = np.where((trips1['HISP'].isin([1.0]) |
                                trips1['RACE1'].isin([2.0]) | trips1['RACE2'].isin([2.0]) | trips1['RACE3'].isin([2.0]) | trips1['RACE4'].isin([2.0]) |
                              trips1['RACE1'].isin([3.0]) | trips1['RACE2'].isin([3.0]) | trips1['RACE3'].isin([3.0]) | trips1['RACE4'].isin([3.0]) |
                              trips1['RACE1'].isin([4.0]) | trips1['RACE2'].isin([4.0]) | trips1['RACE3'].isin([4.0]) | trips1['RACE4'].isin([4.0]) |
                              trips1['RACE1'].isin([5.0]) | trips1['RACE2'].isin([5.0]) | trips1['RACE3'].isin([5.0]) | trips1['RACE4'].isin([5.0]) |
                              trips1['RACE1'].isin([97.0]) | trips1['RACE2'].isin([97.0]) | trips1['RACE3'].isin([97.0]) | trips1['RACE4'].isin([97.0])),1,0)

trips1['HISP'] = np.where(trips1['HISP'].isin([1.0]),1,0)
trips1['black'] = np.where((trips1['RACE1'].isin([2.0]) | trips1['RACE2'].isin([2.0]) | trips1['RACE3'].isin([2.0]) | trips1['RACE4'].isin([2.0])),1,0)
trips1['native'] = np.where((trips1['RACE1'].isin([3.0]) | trips1['RACE2'].isin([3.0]) | trips1['RACE3'].isin([3.0]) | trips1['RACE4'].isin([3.0])),1,0)
trips1['asian'] = np.where((trips1['RACE1'].isin([4.0]) | trips1['RACE2'].isin([4.0]) | trips1['RACE3'].isin([4.0]) | trips1['RACE4'].isin([4.0])),1,0)
trips1['PI'] = np.where((trips1['RACE1'].isin([5.0]) | trips1['RACE2'].isin([5.0]) | trips1['RACE3'].isin([5.0]) | trips1['RACE4'].isin([5.0])),1,0)

In [20]:
trips1['hh_inc_less75k'] = np.where(trips1['INCOM'].isin([1.0,2.0,3.0,4.0,5.0]),1,0)
trips1['hh_inc_75kless100k'] = np.where(trips1['INCOM'].isin([6.0]),1,0)
trips1['hh_inc_150kplus'] = np.where(trips1['INCOM'].isin([8.0,9.0,10.0]),1,0)
trips1['hh_inc_150kless250k'] = np.where(trips1['INCOM'].isin([8.0,9.0]),1,0)
trips1['hh_inc_250kplus'] = np.where(trips1['INCOM'].isin([10.0]),1,0)

In [21]:
trips1['lessGED'] = np.where(trips1['EDUCA'].isin([1.0]),1,0)
trips1['GED'] = np.where(trips1['EDUCA'].isin([2.0]),1,0)
trips1['somebach'] = np.where(trips1['EDUCA'].isin([3.0]),1,0)
trips1['Assoc'] = np.where(trips1['EDUCA'].isin([4.0]),1,0)
trips1['Bach'] = np.where(trips1['EDUCA'].isin([5.0]),1,0)

trips1['lessGED_GED'] = np.where(trips1['EDUCA'].isin([1.0,2.0]),1,0)

trips1['no_higher_ed'] = (trips1['EDUCA'] < 5).astype(int)

In [22]:
trips1['age_16less25'] = np.where(((trips1.AGE.between(16,25,inclusive = False)) | (trips1.AGE==16)),1,0)
trips1['age_25less40'] = np.where(((trips1.AGE.between(25,40,inclusive = False)) | (trips1.AGE==25)),1,0)
trips1['age_40less50'] = np.where(((trips1.AGE.between(40,50,inclusive = False)) | (trips1.AGE==40)),1,0)
trips1['age_50less60'] = np.where(((trips1.AGE.between(50,60,inclusive = False)) | (trips1.AGE==50)),1,0)

In [23]:
trips1.rename(columns = {'HOURS':'hours'},inplace = True)

trips1['female'] = trips1['GEND'] - 1

trips1['tenure_2'] = trips1['OWN'] - 1

trips1['noveh'] = np.where(trips1.HHVEH.isin([0.0]),1,0)

trips1['hh_size_1per'] = np.where(trips1.HHSIZ.isin([1.0]),1,0)

In [24]:
trips1['sector_constr'] = np.where(trips1['INDUS'].isin([23]),1,0)
trips1['sector_mfg'] = np.where(trips1['INDUS'].isin([31]),1,0)
trips1['sector_retail'] = np.where(trips1['INDUS'].isin([44,45]),1,0)
trips1['sector_transport'] = np.where(trips1['INDUS'].isin([48]),1,0)
trips1['info'] = np.where(trips1['INDUS'].isin([51]),1,0)
trips1['finance'] = np.where(trips1['INDUS'].isin([52]),1,0)
trips1['scitech'] = np.where(trips1['INDUS'].isin([54]),1,0)
trips1['sector_edu_serv'] = np.where(trips1['INDUS'].isin([61]),1,0)
trips1['sector_healthcare'] = np.where(trips1['INDUS'].isin([62]),1,0)
trips1['sector_oth_serv'] = np.where(trips1['INDUS'].isin([81]),1,0)
trips1['sector_gov'] = np.where(trips1['INDUS'].isin([92]),1,0)

In [25]:
trips1['TOD_3to6'] = np.where(trips1['TOD'].isin([0]),1,0)
# trips1['TOD_6to9'] = np.where(trips1['TOD'].isin([1]),1,0)
trips1['TOD_9to1530'] = np.where(trips1['TOD'].isin([2]),1,0)
trips1['TOD_1530to1830'] = np.where(trips1['TOD'].isin([3]),1,0)
trips1['TOD_1830up'] = np.where(trips1['TOD'].isin([4]),1,0)

## Estimate the model for dwell time at work

In [26]:
@orca.table(cache=True)
def tripsA():
    return trips1

In [27]:
m = SmallMultinomialLogitStep()
m.name = 'dwell_work'
m.tables = ['tripsA']
m.choice_column = 'dwell_work'
m.model_expression = OrderedDict([
    ('intercept', [1,2,3,5]), 
    
    ('TOD_3to6',[2,5]),
#     ('TOD_6to9'),
    ('TOD_9to1530',[1,2,4,5]),
    ('TOD_1530to1830',[1,2,4]),
    ('TOD_1830up',[1,4]),
    
    ('sector_mfg',[1,2]),
    ('sector_retail',[1,5]),
    ('sector_transport',[4,5]),
    ('info',[1]),
    ('finance',[1,4,5]),
    ('scitech',[1,2]),
    ('sector_edu_serv',[2,4,5]),
    ('sector_healthcare',[1,2,4,5]),
    ('sector_gov',[1,2]),
    
    ('age_16less25',[1,2]),
    ('age_25less40',[1]),
    ('age_40less50',[1]),
    ('age_50less60',[1]),
    
    ('female',[[1,2],5]),
        
    ('minority',[1,2]),
    
    ('hh_inc_less75k',[1,4,5]), 
    ('hh_inc_75kless100k',[5]),
#     ('100kless150k')
    ('hh_inc_150kplus',[1,2,4]),
    
    ('lessGED_GED',[1]),
    ('Assoc',[1,4]),
       
    ('hours',[1,2,4,5]),
    
    ('noveh',[4]),
   
    ('hh_size_1per',[4]),
    
    ('tenure_2',[4]),
    
])

In [28]:
m.fit()

Log-likelihood at zero: -28,878.1445
Initial Log-likelihood: -28,878.1445
Estimation Time for Point Estimation: 9.98 seconds.
Final log-likelihood: -24,197.0957
                     Multinomial Logit Model Regression Results
===================================================================================
Dep. Variable:                     _chosen   No. Observations:               17,943
Model:             Multinomial Logit Model   Df Residuals:                   17,881
Method:                                MLE   Df Model:                           62
Date:                     Fri, 29 Mar 2019   Pseudo R-squ.:                   0.162
Time:                             13:50:23   Pseudo R-bar-squ.:               0.160
AIC:                            48,518.191   Log-Likelihood:            -24,197.096
BIC:                            49,001.479   LL-Null:                   -28,878.144
========================================================================================
                           coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------------
intercept_1              0.8927      0.125      7.132      0.000       0.647       1.138
intercept_2              0.7383      0.102      7.233      0.000       0.538       0.938
intercept_3              0.3676      0.086      4.260      0.000       0.198       0.537
intercept_5             -2.3202      0.129    -17.950      0.000      -2.574      -2.067
TOD_3to6_2              -0.4000      0.118     -3.380      0.001      -0.632      -0.168
TOD_3to6_5               1.0418      0.071     14.626      0.000       0.902       1.181
TOD_9to1530_1            1.6632      0.064     25.814      0.000       1.537       1.789
TOD_9to1530_2            0.9464      0.050     19.002      0.000       0.849       1.044
TOD_9to1530_4           -0.7953      0.051    -15.446      0.000      -0.896      -0.694
TOD_9to1530_5           -0.9901      0.083    -11.996      0.000      -1.152      -0.828
TOD_1530to1830_1         2.9298      0.140     20.955      0.000       2.656       3.204
TOD_1530to1830_2         1.7683      0.130     13.615      0.000       1.514       2.023
TOD_1530to1830_4        -1.1271      0.217     -5.182      0.000      -1.553      -0.701
TOD_1830up_1             1.7121      0.187      9.160      0.000       1.346       2.078
TOD_1830up_4            -1.0139      0.211     -4.804      0.000      -1.428      -0.600
sector_mfg_1            -0.7079      0.143     -4.952      0.000      -0.988      -0.428
sector_mfg_2            -0.6238      0.106     -5.875      0.000      -0.832      -0.416
sector_retail_1         -0.7501      0.101     -7.433      0.000      -0.948      -0.552
sector_retail_5         -0.2827      0.109     -2.595      0.009      -0.496      -0.069
sector_transport_4       0.2460      0.099      2.496      0.013       0.053       0.439
sector_transport_5       0.3908      0.123      3.169      0.002       0.149       0.633
info_1                  -0.5215      0.136     -3.829      0.000      -0.788      -0.255
finance_1               -0.5278      0.157     -3.358      0.001      -0.836      -0.220
finance_4                0.1900      0.085      2.240      0.025       0.024       0.356
finance_5               -0.3907      0.153     -2.550      0.011      -0.691      -0.090
scitech_1               -0.5299      0.106     -4.978      0.000      -0.739      -0.321
scitech_2               -0.2690      0.079     -3.387      0.001      -0.425      -0.113
sector_edu_serv_2        0.3393      0.058      5.842      0.000       0.225       0.453
sector_edu_serv_4       -0.5565      0.058     -9.527      0.000      -0.671      -0.442
sector_edu_serv_5       -0.4902      0.092     -5.349      0.000      -0.670      -0.311
sector_healthcare_1     -0.4660      0.093     -5.024      0.000      -0.648      -0.284
sector_healthcare_2     -0.4117      0.077     -5.343      0.000      -0.563      -0.261
sector_healthcare_4     -0.2910      0.064     -4.542      0.000      -0.417      -0.165
sector_healthcare_5      0.3154      0.084      3.738      0.000       0.150       0.481
sector_gov_1            -0.6975      0.115     -6.070      0.000      -0.923      -0.472
sector_gov_2            -0.4604      0.082     -5.599      0.000      -0.622      -0.299
age_16less25_1          -0.4374      0.116     -3.762      0.000      -0.665      -0.210
age_16less25_2           0.3590      0.078      4.591      0.000       0.206       0.512
age_25less40_1          -0.6918      0.090     -7.710      0.000      -0.868      -0.516
age_40less50_1          -0.2679      0.081     -3.291      0.001      -0.427      -0.108
age_50less60_1          -0.2232      0.074     -3.032      0.002      -0.367      -0.079
female_[1, 2]            0.1611      0.040      4.075      0.000       0.084       0.239
female_5                -0.3918      0.056     -6.996      0.000      -0.502      -0.282
minority_1              -0.3457      0.064     -5.437      0.000      -0.470      -0.221
minority_2              -0.2746      0.045     -6.083      0.000      -0.363      -0.186
hh_inc_less75k_1        -0.1604      0.063     -2.541      0.011      -0.284      -0.037
hh_inc_less75k_4        -0.1140      0.043     -2.661      0.008      -0.198      -0.030
hh_inc_less75k_5        -0.1488      0.059     -2.513      0.012      -0.265      -0.033
hh_inc_75kless100k_5    -0.1505      0.073     -2.057      0.040      -0.294      -0.007
hh_inc_150kplus_1        0.2085      0.079      2.648      0.008       0.054       0.363
hh_inc_150kplus_2        0.1973      0.057      3.470      0.001       0.086       0.309
hh_inc_150kplus_4        0.1488      0.050      2.958      0.003       0.050       0.247
lessGED_GED_1           -0.1978      0.075     -2.627      0.009      -0.345      -0.050
Assoc_1                 -0.2177      0.094     -2.312      0.021      -0.402      -0.033
Assoc_4                  0.1568      0.054      2.916      0.004       0.051       0.262
hours_1                 -0.0495      0.002    -20.905      0.000      -0.054      -0.045
hours_2                 -0.0312      0.002    -15.814      0.000      -0.035      -0.027
hours_4                  0.0151      0.002      7.985      0.000       0.011       0.019
hours_5                  0.0479      0.003     18.447      0.000       0.043       0.053
noveh_4                 -0.4456      0.138     -3.227      0.001      -0.716      -0.175
hh_size_1per_4           0.1820      0.059      3.106      0.002       0.067       0.297
tenure_2_4              -0.1070      0.047     -2.298      0.022      -0.198      -0.016
========================================================================================

In [29]:
m.name = 'dwell_work'

In [30]:
mm.initialize()

Registering model step 'auto_ownership'
Registering model step 'dwell_work'
Registering model step 'TOD_choice'
Registering model step 'work_TOD_choice'
Registering model step 'primary_mode_choice'
Registering model step 'WLCM'

In [31]:
m.tags = ['dwell_work','emma']
mm.register(m)

Saving 'dwell_work.yaml': /home/emma/activitysynth/activitysynth/configs
Model saved to configs/dwell_work-model-object.pkl
Registering model step 'dwell_work'

## Estimate the model for Home-to-Work Trip End Times

In [32]:
###model with p-values less than .01 (except hours4)

m = SmallMultinomialLogitStep()
m.name = 'work_TOD_choice'
m.tables = ['tripsA']
m.choice_column = 'TOD'
m.model_expression = OrderedDict([
    ('intercept', [0,1,3,4]), 
    
    ('sector_constr',[2,3]),
    ('sector_mfg',[0,2,3]),
    ('sector_retail',[2]),
    ('sector_transport',[0]),
    ('info',[0,2,3]),
    ('finance',[0,2,3]),
    ('scitech',[0,3]),
    ('sector_edu_serv',[0,2,3]),
    ('sector_healthcare',[0,2,3,4]),
    ('sector_oth_serv',[0,3]),
    ('sector_gov',[2,3]),
    
    ('age_16less25',[2,3,4]),
    ('age_25less40',[0]),
    
    ('female',[0,3,4]),
    
    ('minority',[0,4]),
    ('asian',[2]),
    
    ('hh_inc_less75k',[4]), 
#     ('75kless150k')
    ('hh_inc_150kless250k',[0]),
    ('hh_inc_250kplus',[0,2]),

    ('lessGED',[0,2,3]),
    ('GED',[0,2,3]),
    ('somebach',[0,2]),
    ('Assoc',[0,2]),
    ('no_higher_ed',[4]),
    ('Bach',[0,2,4]),
#     ('Grad')
       
    ('hours',[0,2,3,4]),

    ('noveh',[2]),

    ('hh_size_1per',[2]),
    
    ('tenure_2',[2]),
    
])

In [33]:
m.fit()

Log-likelihood at zero: -28,878.1445
Initial Log-likelihood: -28,878.1445
Estimation Time for Point Estimation: 15.62 seconds.
Final log-likelihood: -16,303.6766
                     Multinomial Logit Model Regression Results
===================================================================================
Dep. Variable:                     _chosen   No. Observations:               17,943
Model:             Multinomial Logit Model   Df Residuals:                   17,878
Method:                                MLE   Df Model:                           65
Date:                     Fri, 29 Mar 2019   Pseudo R-squ.:                   0.435
Time:                             13:51:59   Pseudo R-bar-squ.:               0.433
AIC:                            32,737.353   Log-Likelihood:            -16,303.677
BIC:                            33,244.025   LL-Null:                   -28,878.144
=========================================================================================
                            coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------------
intercept_0              -3.5975      0.186    -19.354      0.000      -3.962      -3.233
intercept_1              -0.5666      0.077     -7.322      0.000      -0.718      -0.415
intercept_3              -1.3824      0.161     -8.574      0.000      -1.698      -1.066
intercept_4              -5.3857      0.381    -14.143      0.000      -6.132      -4.639
sector_constr_2          -0.8889      0.127     -7.007      0.000      -1.138      -0.640
sector_constr_3          -1.5972      0.365     -4.371      0.000      -2.313      -0.881
sector_mfg_0              0.3854      0.093      4.156      0.000       0.204       0.567
sector_mfg_2             -0.4664      0.083     -5.639      0.000      -0.628      -0.304
sector_mfg_3             -0.5908      0.190     -3.109      0.002      -0.963      -0.218
sector_retail_2           0.5408      0.061      8.850      0.000       0.421       0.661
sector_transport_0        0.6952      0.113      6.162      0.000       0.474       0.916
info_0                   -0.9847      0.235     -4.193      0.000      -1.445      -0.524
info_2                    0.3645      0.077      4.738      0.000       0.214       0.515
info_3                   -1.7137      0.418     -4.099      0.000      -2.533      -0.894
finance_0                -0.8665      0.220     -3.943      0.000      -1.297      -0.436
finance_2                -0.3262      0.088     -3.701      0.000      -0.499      -0.153
finance_3                -2.2459      0.508     -4.421      0.000      -3.242      -1.250
scitech_0                -0.4545      0.150     -3.036      0.002      -0.748      -0.161
scitech_3                -1.6604      0.288     -5.758      0.000      -2.226      -1.095
sector_edu_serv_0        -1.0373      0.146     -7.129      0.000      -1.323      -0.752
sector_edu_serv_2        -0.8126      0.058    -14.037      0.000      -0.926      -0.699
sector_edu_serv_3        -1.2649      0.158     -8.029      0.000      -1.574      -0.956
sector_healthcare_0      -0.6587      0.133     -4.956      0.000      -0.919      -0.398
sector_healthcare_2      -0.3930      0.060     -6.573      0.000      -0.510      -0.276
sector_healthcare_3      -1.0317      0.172     -5.996      0.000      -1.369      -0.694
sector_healthcare_4       1.0408      0.176      5.904      0.000       0.695       1.386
sector_oth_serv_0        -0.7809      0.168     -4.649      0.000      -1.110      -0.452
sector_oth_serv_3        -0.8287      0.213     -3.893      0.000      -1.246      -0.411
sector_gov_2             -0.9998      0.073    -13.717      0.000      -1.143      -0.857
sector_gov_3             -1.2509      0.198     -6.312      0.000      -1.639      -0.863
age_16less25_2            0.9403      0.073     12.929      0.000       0.798       1.083
age_16less25_3            1.8572      0.111     16.767      0.000       1.640       2.074
age_16less25_4            1.0176      0.225      4.530      0.000       0.577       1.458
age_25less40_0           -0.4045      0.081     -4.998      0.000      -0.563      -0.246
female_0                 -0.6178      0.069     -8.963      0.000      -0.753      -0.483
female_3                 -0.2522      0.092     -2.728      0.006      -0.433      -0.071
female_4                 -0.6180      0.154     -4.026      0.000      -0.919      -0.317
minority_0                0.1839      0.067      2.738      0.006       0.052       0.316
minority_4                0.4116      0.147      2.792      0.005       0.123       0.700
asian_2                   0.2826      0.062      4.569      0.000       0.161       0.404
hh_inc_less75k_4          0.5729      0.157      3.644      0.000       0.265       0.881
hh_inc_150kless250k_0    -0.3779      0.113     -3.333      0.001      -0.600      -0.156
hh_inc_250kplus_0        -1.0206      0.289     -3.536      0.000      -1.586      -0.455
hh_inc_250kplus_2         0.3136      0.078      4.000      0.000       0.160       0.467
lessGED_0                 1.9522      0.159     12.244      0.000       1.640       2.265
lessGED_2                -0.6981      0.101     -6.942      0.000      -0.895      -0.501
lessGED_3                 0.6164      0.153      4.024      0.000       0.316       0.917
GED_0                     1.5688      0.140     11.184      0.000       1.294       1.844
GED_2                    -0.4103      0.064     -6.461      0.000      -0.535      -0.286
GED_3                     0.4453      0.108      4.124      0.000       0.234       0.657
somebach_0                1.3898      0.140      9.945      0.000       1.116       1.664
somebach_2               -0.3665      0.060     -6.159      0.000      -0.483      -0.250
Assoc_0                   1.1672      0.149      7.818      0.000       0.875       1.460
Assoc_2                  -0.4979      0.067     -7.416      0.000      -0.630      -0.366
no_higher_ed_4            1.2515      0.294      4.256      0.000       0.675       1.828
Bach_0                    0.6586      0.139      4.739      0.000       0.386       0.931
Bach_2                   -0.2646      0.049     -5.435      0.000      -0.360      -0.169
Bach_4                    1.0120      0.306      3.312      0.001       0.413       1.611
hours_0                   0.0077      0.003      2.858      0.004       0.002       0.013
hours_2                  -0.0267      0.002    -17.750      0.000      -0.030      -0.024
hours_3                  -0.0482      0.004    -13.521      0.000      -0.055      -0.041
hours_4                  -0.0160      0.006     -2.596      0.009      -0.028      -0.004
noveh_2                   0.3511      0.114      3.084      0.002       0.128       0.574
hh_size_1per_2            0.2556      0.057      4.480      0.000       0.144       0.367
tenure_2_2                0.2035      0.045      4.566      0.000       0.116       0.291
=========================================================================================

In [34]:
m.name = 'work_TOD_choice'

In [35]:
m.tags = ['work_TOD_choice','emma']
mm.register(m)

Saving 'work_TOD_choice.yaml': /home/emma/activitysynth/activitysynth/configs
Model saved to configs/work_TOD_choice-model-object.pkl
Registering model step 'work_TOD_choice'