In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm
from sklearn.neighbors import BallTree
import geopandas as gpd
from shapely.geometry import Point, LineString
from pyproj import Proj, transform
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
from urbansim_templates import modelmanager as mm
from urbansim_templates.models import LargeMultinomialLogitStep
from urbansim.models.util import apply_filter_query
import orca
import os; os.chdir('../')
import warnings;warnings.simplefilter('ignore')
from activitysynth.scripts import datasources, models, variables
from choicemodels import MultinomialLogit
from choicemodels.tools import MergedChoiceTable

Registering model step 'auto_ownership'
Registering model step 'WLCM_gen_tt_simple'
Registering model step 'WLCM_gen_tt'
Registering model step 'TOD_choice'
Registering model step 'primary_mode_choice'
Registering model step 'WLCM_gen_tt_TWEAK'
Registering model step 'WLCM'

### Set required runtime args

In [3]:
input_file_format = 'csv'
input_data_dir = '/home/data/spring_2019/base/'

# estimate from base-year data

formattable_fname_dict = {
    'parcels': 'parcels.{0}',
    'buildings': 'buildings.{0}',
    'jobs': 'jobs.{0}',
    'establishments': 'establishments.{0}',
    'households': 'households.{0}',
    'persons': 'persons.{0}',
    'rentals': 'craigslist.{0}',
    'units': 'units.{0}',
    'mtc_skims': 'mtc_skims.{0}',
    'beam_skims_raw': '15.skims.csv.gz',
    'beam_skims_imputed': 'NOTGONNAFINDTHIS.{0}',  # force re-imputation
    # the following nodes and edges .csv's will be phased out and
    # replaced by travel model skims entirely
    'drive_nodes': 'drive_nodes.{0}',
    'drive_edges': 'drive_edges.{0}',
    'drive_access_vars': 'drive_net_vars.{0}',
    'walk_nodes': 'walk_nodes.{0}',
    'walk_edges': 'walk_edges.{0}',
    'walk_access_vars': 'walk_net_vars.{0}',
    'zones': 'zones.{0}',
    'zone_access_vars': 'zones_w_access_vars.{0}',
}

def format_fname_dict(formattable_fname_dict, format='csv'):
    formatted_dict = {
        k: v.format('csv')
        for k, v in formattable_fname_dict.items()}
    return formatted_dict

input_fnames = format_fname_dict(
            formattable_fname_dict, input_file_format)

### Set required Orca injectables

In [4]:
orca.add_injectable('input_file_format', input_file_format)
orca.add_injectable('input_data_dir', input_data_dir)
orca.add_injectable('input_fnames', input_fnames)
orca.add_injectable('store', None)

### Initialize Orca tables

In [5]:
orca.run(['initialize_network_walk', 'initialize_network_small', 'initialize_imputed_skims'])

Running step 'initialize_network_walk'
Time to execute step 'initialize_network_walk': 0.00 s
Running step 'initialize_network_small'
Time to execute step 'initialize_network_small': 0.00 s
Running step 'initialize_imputed_skims'
No imputed skims found. Creating them now.
Time to execute step 'initialize_imputed_skims': 82.61 s
Total time to execute iteration 1 with iteration value None: 82.61 s

In [11]:
buildings = orca.get_table('buildings').to_frame()
parcels = orca.get_table('parcels').to_frame()
jobs = orca.get_table('jobs').to_frame()

# using beam skims
beam_skims = orca.get_table('beam_skims_imputed').to_frame()
interaction_terms = beam_skims.rename_axis(['zone_id_home','zone_id_work'])

### Get accessibility vars

If already computed:

In [8]:
# walk_net_vars = pd.read_csv(input_data_dir + input_fnames['walk_access_vars'], index_col='osmid')
# drive_net_vars = pd.read_csv(input_data_dir + input_fnames['drive_access_vars'], index_col='osmid')
# zones = pd.read_csv(input_data_dir + input_fnames['zone_access_vars'], index_col='zone_id')

If computing for the first time

In [6]:
orca.run(['network_aggregations_small', 'network_aggregations_walk', 'skims_aggregations'])

Running step 'network_aggregations_small'
Computing accessibility variables
Computing units_10000
Computing units_sf_10000
Computing units_mf_10000
Computing pop_10000
Removed 189769 rows because they contain missing values
Computing hh_10000
Removed 189769 rows because they contain missing values
Computing poor_10000
Removed 53114 rows because they contain missing values
Computing renters_10000
Removed 102597 rows because they contain missing values
Computing avg_income_10000
Removed 189769 rows because they contain missing values
Computing jobs_10000
Computing avg_rent_10000
Computing med_rent_10000
Computing pop_white_10000
Removed 107372 rows because they contain missing values
Computing pop_black_10000
Removed 10541 rows because they contain missing values
Computing pop_asian_10000
Removed 51048 rows because they contain missing values
Computing pop_hisp_10000
Removed 31685 rows because they contain missing values
Computing units_25000
Computing units_sf_25000
Computing units_mf_25000
Computing pop_25000
Removed 189769 rows because they contain missing values
Computing hh_25000
Removed 189769 rows because they contain missing values
Computing poor_25000
Removed 53114 rows because they contain missing values
Computing renters_25000
Removed 102597 rows because they contain missing values
Computing avg_income_25000
Removed 189769 rows because they contain missing values
Computing jobs_25000
Computing avg_rent_25000
Computing pop_white_25000
Removed 107372 rows because they contain missing values
Computing pop_black_25000
Removed 10541 rows because they contain missing values
Computing pop_asian_25000
Removed 51048 rows because they contain missing values
Computing pop_hisp_25000
Removed 31685 rows because they contain missing values
Computing jobs_10000_retail
Computing jobs_25000_retail
Computing jobs_10000_fire
Computing jobs_25000_fire
Computing jobs_10000_tech
Computing jobs_25000_tech
Computing jobs_10000_serv
Computing jobs_25000_serv
         units_10000  units_sf_10000  units_mf_10000      pop_10000  \
count   30826.000000    30826.000000    30826.000000   30826.000000
mean   111655.259521    60758.737592    45983.788815  260258.257023
std     87205.002426    37438.499035    46022.772268  188415.644622
min         0.000000        0.000000        0.000000       0.000000
25%     43964.000000    31220.250000    10558.000000  106529.000000
50%     96857.000000    59397.000000    32540.000000  231992.500000
75%    163123.000000    90067.750000    69669.000000  392372.500000
max    406849.000000   147988.000000   205873.000000  838919.000000

            hh_10000     poor_10000  renters_10000  avg_income_10000  \
count   30826.000000   30826.000000   30826.000000      30826.000000
mean    99092.191721   24263.902939   47250.300298     111232.133257
std     78052.959198   22118.834988   47935.457922      30332.958647
min         0.000000       0.000000       0.000000          0.000000
25%     39191.000000    7995.750000   13226.250000      93100.589083
50%     85632.500000   17593.000000   33265.000000     111716.310346
75%    143063.250000   34092.750000   65630.250000     129610.887845
max    370544.000000  100942.000000  225495.000000     265525.000000

          jobs_10000  avg_rent_10000  ...  pop_asian_25000  pop_hisp_25000  \
count   30826.000000    30826.000000  ...     30826.000000    30826.000000
mean   118243.519464     2643.122460  ...    294669.101408   183838.911698
std    107993.608729      776.766843  ...    217585.925381   110234.361576
min         0.000000        0.000000  ...         0.000000        0.000000
25%     28940.250000     2269.256141  ...     73012.250000    88483.750000
50%     92301.500000     2712.736729  ...    312616.000000   181105.000000
75%    176945.000000     2983.646159  ...    477996.500000   298576.750000
max    428606.000000     7266.666667  ...    693127.000000   351717.000000

       jobs_10000_retail  jobs_25000_retail  jobs_10000_fire  jobs_25000_fire  \
count       30826.000000       30826.000000     30826.000000     30826.000000
mean        15902.012100       55488.349478      8651.443132     30371.376533
std         14105.231994       33838.915279     10033.247270     20592.329443
min             0.000000           0.000000         0.000000         0.000000
25%          4314.000000       21935.500000      2093.000000     10928.000000
50%         13269.500000       61066.000000      5932.500000     31111.500000
75%         21232.750000       87060.000000     10849.000000     42117.750000
max         61048.000000      103899.000000     48870.000000     73607.000000

       jobs_10000_tech  jobs_25000_tech  jobs_10000_serv  jobs_25000_serv
count     30826.000000     30826.000000     30826.000000     30826.000000
mean      18321.402161     63953.289593     10136.738240     34163.351489
std       21681.852522     46756.286825     11020.692482     23411.034125
min           0.000000         0.000000         0.000000         0.000000
25%        2208.000000     16480.250000      2744.000000     11541.000000
50%        9152.500000     64664.000000      6776.000000     32524.000000
75%       28647.500000     98836.750000     13249.750000     50603.750000
max      103018.000000    149697.000000     51636.000000     82062.000000

[8 rows x 37 columns]
Time to execute step 'network_aggregations_small': 233.89 s
Running step 'network_aggregations_walk'
Computing accessibility variables
Computing units_500_walk
Computing sqft_unit_500_walk
Computing singles_500_walk
Removed 52084 rows because they contain missing values
Computing elderly_hh_500_walk
Removed 34553 rows because they contain missing values
Computing children_500_walk
Removed 189769 rows because they contain missing values
Computing units_sf_500_walk
Computing units_mf_500_walk
Computing pop_500_walk
Removed 189769 rows because they contain missing values
Computing hh_500_walk
Removed 189769 rows because they contain missing values
Computing poor_500_walk
Removed 53114 rows because they contain missing values
Computing rich_500_walk
Removed 38964 rows because they contain missing values
Computing renters_500_walk
Removed 102597 rows because they contain missing values
Computing avg_income_500_walk
Removed 189769 rows because they contain missing values
Computing jobs_500_walk
Computing avg_rent_500_walk
Computing pop_white_500_walk
Removed 107372 rows because they contain missing values
Computing pop_black_500_walk
Removed 10541 rows because they contain missing values
Computing pop_asian_500_walk
Removed 51048 rows because they contain missing values
Computing pop_hisp_500_walk
Removed 31685 rows because they contain missing values
Computing units_1500_walk
Computing sqft_unit_1500_walk
Computing singles_1500_walk
Removed 52084 rows because they contain missing values
Computing elderly_hh_1500_walk
Removed 34553 rows because they contain missing values
Computing children_1500_walk
Removed 189769 rows because they contain missing values
Computing units_sf_1500_walk
Computing units_mf_1500_walk
Computing pop_1500_walk
Removed 189769 rows because they contain missing values
Computing hh_1500_walk
Removed 189769 rows because they contain missing values
Computing poor_1500_walk
Removed 53114 rows because they contain missing values
Computing rich_1500_walk
Removed 38964 rows because they contain missing values
Computing renters_1500_walk
Removed 102597 rows because they contain missing values
Computing avg_income_1500_walk
Removed 189769 rows because they contain missing values
Computing jobs_1500_walk
Computing avg_rent_1500_walk
Computing pop_white_1500_walk
Removed 107372 rows because they contain missing values
Computing pop_black_1500_walk
Removed 10541 rows because they contain missing values
Computing pop_asian_1500_walk
Removed 51048 rows because they contain missing values
Computing pop_hisp_1500_walk
Removed 31685 rows because they contain missing values
Computing pop_2500_walk
Removed 189769 rows because they contain missing values
Computing pop_white_2500_walk
Removed 107372 rows because they contain missing values
Computing pop_black_2500_walk

Removed 10541 rows because they contain missing values
Computing pop_asian_2500_walk
Removed 51048 rows because they contain missing values
Computing pop_hisp_2500_walk
Removed 31685 rows because they contain missing values
Computing jobs_500_walk_retail
Computing jobs_1500_walk_retail
Computing jobs_2500_walk_retail
Computing jobs_500_walk_fire
Computing jobs_1500_walk_fire
Computing jobs_2500_walk_fire
Computing jobs_500_walk_tech
Computing jobs_1500_walk_tech
Computing jobs_2500_walk_tech
Computing jobs_500_walk_serv
Computing jobs_1500_walk_serv
Computing jobs_2500_walk_serv
       units_500_walk  sqft_unit_500_walk  singles_500_walk  \
count   415716.000000       415716.000000     415716.000000
mean       356.025760         1245.303477         94.368742
std       1097.266478          979.057308        344.532606
min          0.000000            0.000000          0.000000
25%          8.000000          455.911149          1.000000
50%        188.000000         1315.697967         27.000000
75%        440.000000         1761.777561         87.000000
max     184977.000000        30000.000000      45805.000000

       elderly_hh_500_walk  children_500_walk  units_sf_500_walk  \
count        415716.000000      415716.000000      415716.000000
mean             58.488439         158.008881         163.913537
std             241.396787         443.206144         704.706968
min               0.000000           0.000000           0.000000
25%               1.000000           3.000000           2.000000
50%              28.000000          92.000000          98.000000
75%              70.000000         231.000000         247.000000
max           41743.000000       81187.000000      136953.000000

       units_mf_500_walk   pop_500_walk    hh_500_walk  poor_500_walk  ...  \
count      415716.000000  415716.000000  415716.000000  415716.000000  ...
mean          165.691405     792.425952     315.910172      85.848214  ...
std           469.461483    2241.623502     957.091514     320.291735  ...
min             0.000000       0.000000       0.000000       0.000000  ...
25%             0.000000      20.000000       7.000000       1.000000  ...
50%             2.000000     462.000000     170.000000      25.000000  ...
75%           159.000000    1085.000000     395.000000      83.000000  ...
max         48024.000000  396939.000000  162454.000000   42782.000000  ...

       jobs_2500_walk_retail  jobs_500_walk_fire  jobs_1500_walk_fire  \
count          415716.000000       415716.000000        415716.000000
mean             1581.179690           53.885460           420.179305
std              3031.162291          429.421888          1996.134238
min                 0.000000            0.000000             0.000000
25%               223.000000            0.000000            19.000000
50%               842.000000            3.000000           101.000000
75%              1990.000000           23.000000           278.000000
max             35933.000000        20526.000000         34721.000000

       jobs_2500_walk_fire  jobs_500_walk_tech  jobs_1500_walk_tech  \
count        415716.000000       415716.000000        415716.000000
mean            979.940062          106.490318           815.705017
std            3203.315346          791.083748          3808.003905
min               0.000000            0.000000             0.000000
25%             112.000000            0.000000            25.000000
50%             366.000000            4.000000           117.000000
75%             857.000000           30.000000           463.000000
max           38378.000000        31572.000000         68294.000000

       jobs_2500_walk_tech  jobs_500_walk_serv  jobs_1500_walk_serv  \
count        415716.000000       415716.000000        415716.000000
mean           1950.765186           60.123912           436.386119
std            6458.022536          270.243780          1438.848663
min               0.000000            0.000000             0.000000
25%             126.000000            0.000000            12.000000
50%             455.000000            0.000000           127.000000
75%            1449.000000           35.000000           416.000000
max           77926.000000        12480.000000         25447.000000

       jobs_2500_walk_serv
count        415716.000000
mean           1104.828303
std            2959.981741
min               0.000000
25%             116.000000
50%             494.000000
75%            1108.000000
max           34317.000000

[8 rows x 55 columns]
Time to execute step 'network_aggregations_walk': 367.47 s
Running step 'skims_aggregations'
Time to execute step 'skims_aggregations': 0.00 s
Total time to execute iteration 1 with iteration value None: 601.37 s

In [7]:
# store the results so you don't have to do it again
orca.get_table('nodeswalk').to_frame().to_csv(
            os.path.join(input_data_dir, input_fnames['walk_access_vars']))
orca.get_table('nodessmall').to_frame().to_csv(
    os.path.join(input_data_dir, input_fnames['drive_access_vars']))
orca.get_table('zones').to_frame().to_csv(
    os.path.join(input_data_dir, input_fnames['zone_access_vars']))

### Load CHTS Data

Raw CHTS Households Data

In [8]:
chts_households = pd.read_csv('/home/data/fall_2018/CHTS_csv_format/data/Deliv_HH.csv')

Processed CHTS Persons Data (code available [here](https://github.com/ual/ual_model_workspace/blob/master/fall-2018-models/notebooks-max/WLCM_pre-processing.ipynb))

In [9]:
chts_persons = pd.read_csv('/home/data/fall_2018/chts_persons_w_jobs_and_res_bldgs.csv')

In [12]:
chts_persons.loc[:, 'worker'] = chts_persons[chts_persons['EMPLY'] == 1]
chts_persons.loc[:, 'work_at_home'] = chts_persons[chts_persons['WLOC'] == 2]
chts_workers = chts_persons[
    (~pd.isnull(chts_persons['job_id'])) & (chts_persons['job_id'].isin(jobs.index.values))]

### Define required model parameters

In [13]:
chooser_filters = ['age < 115', 'income < 98', 'edu < 98']
alt_sample_size = 10

### Generate the merged choice table

In [14]:
zones = orca.get_table('zones').to_frame()

This step must be done manually for now by calling the `choicemodels.MergedChoiceTable()` method directly instead of using a template because `urbansim_templates` does not yet have functionality for interaction terms such as home-to-work distances

In [15]:
obs = chts_workers.merge(
    chts_households[['SAMPN', 'INCOM']], on='SAMPN').merge(
    buildings, left_on='building_id', right_index=True).merge(
    parcels, left_on='parcel_id', right_index=True).rename(
    columns={
        'zone_id': 'zone_id_home', 'AGE': 'age', 'EDUCA': 'edu', 'INCOM': 'income'})
obs.index.name = 'obs_id'

In [16]:
obs['no_higher_ed'] = (obs['edu'] < 5).astype(int)
obs['age_under_45'] = (obs['age'] < 45).astype(int)
obs['hh_inc_under_25k'] = (obs['income'] < 3).astype(int)
obs['hh_inc_25_to_75k'] = ((obs['income'] > 2) & (obs['income'] < 6)).astype(int)
obs['hh_inc_75_to_200k'] = ((obs['income'] > 5) & (obs['income'] < 9)).astype(int)

In [17]:
obs = apply_filter_query(obs, filters=chooser_filters)

In [18]:
obs = obs[[
    'job_id', 'zone_id_home', 'age_under_45', 'no_higher_ed', 'age',
    'hh_inc_under_25k', 'hh_inc_25_to_75k', 'hh_inc_75_to_200k', 'income']]

In [52]:
alts = jobs.merge(buildings, left_on='building_id', right_index=True).merge(
    parcels, left_on='parcel_id', right_index=True).merge(
    zones, left_on='zone_id', right_index=True)

In [53]:
# industry of alternatives
alts['sector_retail'] = alts['sector_id'].isin([44, 45]).astype(int)
alts['sector_healthcare'] = alts['sector_id'].isin([62]).astype(int)
alts['sector_tech'] = alts['sector_id'].isin([51, 54]).astype(int)
alts['sector_food_and_hosp'] = alts['sector_id'].isin([72]).astype(int)
alts['sector_mfg'] = alts['sector_id'].isin([31, 32, 33]).astype(int)
alts['sector_edu_serv'] = alts['sector_id'].isin([61]).astype(int)
alts['sector_oth_serv'] = alts['sector_id'].isin([81]).astype(int)
alts['sector_constr'] = alts['sector_id'].isin([23]).astype(int)
alts['sector_gov'] = alts['sector_id'].isin([92]).astype(int)
alts['sector_fire'] = alts['sector_id'].isin([52, 53]).astype(int)
alts['sector_whlsale'] = alts['sector_id'].isin([42]).astype(int)
alts['sector_admin'] = alts['sector_id'].isin([56]).astype(int)
alts['sector_transport'] = alts['sector_id'].isin([48]).astype(int)
alts['sector_arts'] = alts['sector_id'].isin([71]).astype(int)
alts['sector_util'] = alts['sector_id'].isin([22]).astype(int)

# # occupation of alternatives
# alts['occup_mgmt'] = alts['occupation_id'].isin([11]).astype(int)
# alts['occup_sales'] = alts['occupation_id'].isin([41]).astype(int)
# alts['occup_biz'] = alts['occupation_id'].isin([13]).astype(int)
# alts['occup_admin'] = alts['occupation_id'].isin([43]).astype(int)
# alts['occup_edu'] = alts['occupation_id'].isin([25]).astype(int)
# alts['occup_food'] = alts['occupation_id'].isin([35]).astype(int)
# alts['occup_health'] = alts['occupation_id'].isin([29, 31]).astype(int)
# alts['occup_tech'] = alts['occupation_id'].isin([15]).astype(int)
# alts['occup_eng'] = alts['occupation_id'].isin([17]).astype(int)
# alts['occup_transp'] = alts['occupation_id'].isin([53]).astype(int)
# alts['occup_constr'] = alts['occupation_id'].isin([47]).astype(int)

In [54]:
alts = alts[[
    'total_jobs_gen_tt_WALK_TRANSIT_15', 'total_jobs_gen_tt_WALK_TRANSIT_45',
    'total_jobs_gen_tt_CAR_45', 'total_jobs_gen_tt_CAR_15', 'avg_income_gen_tt_CAR_30',
    'sum_persons_gen_tt_CAR_1', 'sum_persons_gen_tt_CAR_1', 'sum_income_gen_tt_CAR_15', 
    'sum_income_gen_tt_CAR_45', 'sum_residential_units_gen_tt_CAR_1', 'sum_residential_units_gen_tt_CAR_1',
    'sum_residential_units_gen_tt_CAR_15', 'sum_residential_units_gen_tt_CAR_15',
    'sum_persons_gen_tt_CAR_15', 'sum_persons_gen_tt_CAR_15',
    'zone_id_work', 'sector_retail', 'sector_healthcare', 'sector_tech', 'sector_food_and_hosp',
    'sector_mfg', 'sector_edu_serv', 'sector_oth_serv', 'sector_constr', 'sector_gov', 'sector_fire',
    'sector_whlsale', 'sector_admin', 'sector_transport', 'sector_arts', 'sector_util',
#     'occup_mgmt', 'occup_sales', 'occup_biz', 'occup_admin', 'occup_edu', 'occup_food', 'occup_health',
#     'occup_tech', 'occup_eng', 'occup_transp', 'occup_constr'
]]

In [55]:
%%time
mct = MergedChoiceTable(obs, alts, chosen_alternatives='job_id',
                        sample_size=alt_sample_size, interaction_terms=interaction_terms)

CPU times: user 880 ms, sys: 57.1 ms, total: 937 ms
Wall time: 936 ms

### Estimate the WLCM

In [26]:
mm.initialize()

Registering model step 'auto_ownership'
Registering model step 'WLCM_gen_tt_simple'
Registering model step 'WLCM_gen_tt'
Registering model step 'TOD_choice'
Registering model step 'primary_mode_choice'
Registering model step 'WLCM_gen_tt_TWEAK'
Registering model step 'WLCM'

In [27]:
m = LargeMultinomialLogitStep(
    chooser_filters=chooser_filters, constrained_choices=True,
    alt_sample_size=alt_sample_size
)

In [78]:
# m.model_expression = (
#     'dist_da/tt_da + '
#     'np.log1p(jobs_1500_walk_retail) + '
#     'np.log1p(cost_da_toll):(hh_inc_under_25k + hh_inc_25_to_75k + hh_inc_75_to_200k) + '
#     'no_higher_ed:(sector_retail + sector_fire + sector_healthcare + sector_tech + sector_mfg + '
#     'sector_food_and_hosp + sector_edu_serv + sector_gov + sector_whlsale) + '
#     'sector_retail + sector_tech + sector_mfg + sector_food_and_hosp + sector_edu_serv + sector_oth_serv + '
#     'sector_constr + sector_gov + sector_whlsale + sector_admin + sector_util - 1'
# )

m.model_expression = (
#     'np.log1p(gen_tt_CAR):np.log1p(gen_tt_WALK_TRANSIT) + '
#     'np.log1p(gen_tt_CAR) + '
#     'dist * (np.log1p(gen_tt_CAR)) + np.log1p(gen_tt_WALK_TRANSIT) + '
    'dist + np.log1p(gen_tt_CAR) + '
#     'total_jobs_gen_tt_CAR_45:sum_residential_units_gen_tt_CAR_15 +'
    'np.log1p(gen_cost_CAR):(hh_inc_under_25k + hh_inc_25_to_75k + hh_inc_75_to_200k) + '
    'no_higher_ed:(sector_retail + sector_fire + sector_healthcare + sector_tech + sector_mfg + '
    'sector_food_and_hosp + sector_edu_serv + sector_gov) + '
    'sector_retail + sector_tech + sector_mfg + sector_food_and_hosp + sector_edu_serv + sector_oth_serv + '
    'sector_constr + sector_gov + sector_whlsale + sector_admin + sector_util - 1'
)

In [79]:
m.fit(mct)

                  CHOICEMODELS ESTIMATION RESULTS
===================================================================
Dep. Var.:                chosen   No. Observations:          7,928
Model:         Multinomial Logit   Df Residuals:              7,904
Method:       Maximum Likelihood   Df Model:                     24
Date:                 2019-09-10   Pseudo R-squ.:             0.503
Time:                      15:16   Pseudo R-bar-squ.:         0.502
AIC:                  18,179.324   Log-Likelihood:       -9,065.662
BIC:                  18,346.800   LL-Null:             -18,254.895
=============================================================================================
                                              coef   std err         z     P>|z|   Conf. Int.
---------------------------------------------------------------------------------------------
dist                                       -0.0001     0.000   -60.579     0.000
np.log1p(gen_tt_CAR)                       -0.0764     0.018    -4.233     0.000
np.log1p(gen_cost_CAR):hh_inc_under_25k    -0.6519     0.046   -14.044     0.000
np.log1p(gen_cost_CAR):hh_inc_25_to_75k    -0.4201     0.021   -19.673     0.000
np.log1p(gen_cost_CAR):hh_inc_75_to_200k   -0.2168     0.016   -13.155     0.000
no_higher_ed:sector_retail                  0.3949     0.109     3.627     0.000
no_higher_ed:sector_fire                   -1.1111     0.114    -9.742     0.000
no_higher_ed:sector_healthcare             -0.8053     0.088    -9.196     0.000
no_higher_ed:sector_tech                   -1.5661     0.083   -18.955     0.000
no_higher_ed:sector_mfg                    -0.7000     0.118    -5.933     0.000
no_higher_ed:sector_food_and_hosp           0.9946     0.172     5.791     0.000
no_higher_ed:sector_edu_serv               -1.4145     0.128   -11.071     0.000
no_higher_ed:sector_gov                    -0.8225     0.118    -6.971     0.000
sector_retail                              -1.2042     0.081   -14.862     0.000
sector_tech                                 0.6345     0.046    13.679     0.000
sector_mfg                                 -0.5512     0.072    -7.633     0.000
sector_food_and_hosp                       -2.0381     0.140   -14.536     0.000
sector_edu_serv                             1.1120     0.062    17.832     0.000
sector_oth_serv                            -0.6502     0.081    -8.034     0.000
sector_constr                              -1.2857     0.100   -12.884     0.000
sector_gov                                  0.5102     0.073     6.967     0.000
sector_whlsale                             -1.9893     0.147   -13.522     0.000
sector_admin                               -1.2069     0.109   -11.043     0.000
sector_util                                 0.7464     0.146     5.100     0.000
=============================================================================================

### Add attributes to the model object that are needed for the simulation step

In [80]:
m.name = 'WLCM_gen_tt_simple'
m.tags = ['max']
m.alternatives = ['jobs', 'buildings', 'parcels', 'zones']
m.choosers = ['persons', 'households']
m.out_chooser_filters = ['worker == 1', 'work_at_home == 0', 'zone_id_home == zone_id_home']
m.out_column = 'job_id'

In [81]:
mm.register(m)

Saving 'WLCM_gen_tt_simple.yaml': /home/max/projects/activitysynth/activitysynth/configs
Registering model step 'WLCM_gen_tt_simple'