# Car ownership model

In [4]:
import numpy as np
import pandas as pd
import orca
import os; os.chdir('../')
import warnings; warnings.simplefilter('ignore')
from urbansim.utils import misc
import pandana as pdna
from collections import OrderedDict
    
from urbansim_templates import modelmanager as mm
from urbansim_templates.models import LargeMultinomialLogitStep
import pandas as pd
import orca
# import os; os.chdir('/home/juan/activitysynth/')
import warnings; warnings.simplefilter('ignore')
from matplotlib import pyplot as plt
import matplotlib.animation as animation
import seaborn as sns
from sklearn.neighbors import BallTree

import pylogit as pl                   # For choice model estimation
from pylogit import nested_logit as nl # For nested logit convenience funcs
import math 
from collections import OrderedDict 

import pickle
import dill
import time
import random
import scipy.stats as st

import urbansim_templates

from scripts import datasources, models, variables, utils

In [5]:
from sklearn.model_selection import KFold, train_test_split
from sklearn.ensemble import GradientBoostingClassifier

In [6]:
os.getcwd()

'/home/juan'

## Preparing data

In [7]:
input_file_format = 'csv'
input_data_dir = '/home/data/spring_2019/base/'

formattable_fname_dict = {
    'parcels': 'parcels.{0}',
    'buildings': 'buildings.{0}',
    'jobs': 'jobs.{0}',
    'establishments': 'establishments.{0}',
    'households': 'households.{0}',
    'persons': 'persons.{0}',
    'rentals': 'craigslist.{0}',
    'units': 'units.{0}',
    'mtc_skims': 'mtc_skims.{0}',
    'beam_skims_raw': '30.skims-smart-23April2019-baseline.csv.gz',
    'beam_skims_imputed': 'beam_skims_imputed.{0}',
    # the following nodes and edges .csv's will be phased out and
    # replaced by travel model skims entirely
    'drive_nodes': 'drive_nodes.{0}',
    'drive_edges': 'drive_edges.{0}',
    'drive_access_vars': 'drive_net_vars.{0}',
    'walk_nodes': 'walk_nodes.{0}',
    'walk_edges': 'walk_edges.{0}',
    'walk_access_vars': 'walk_net_vars.{0}',
    'zones': 'zones.{0}',
    'zone_access_vars': 'zones_w_access_vars.{0}',
}

def format_fname_dict(formattable_fname_dict, format='csv'):
    formatted_dict = {
        k: v.format('csv')
        for k, v in formattable_fname_dict.items()}
    return formatted_dict

input_fnames = format_fname_dict(
            formattable_fname_dict, input_file_format)

In [8]:
orca.add_injectable('input_file_format', input_file_format)
orca.add_injectable('input_data_dir', input_data_dir)
orca.add_injectable('input_fnames', input_fnames)
orca.add_injectable('store', None)

In [9]:
#Changing directory to run the network aggregation steps
os.chdir('/home/juan/activitysynth/activitysynth/')

In [10]:
orca.run(['initialize_network_small', 'network_aggregations_small', #Drivving Accesibility variables
          'initialize_network_walk', 'network_aggregations_walk', #Walking accesibility variables
          'initialize_imputed_skims','skims_aggregations']) # Beam-based accesibility varaibles

Running step 'initialize_network_small'
Time to execute step 'initialize_network_small': 0.00 s
Running step 'network_aggregations_small'
Computing accessibility variables
Computing units_10000
Computing units_sf_10000
Computing units_mf_10000
Computing pop_10000
Removed 189769 rows because they contain missing values
Computing hh_10000
Removed 189769 rows because they contain missing values
Computing poor_10000
Removed 53114 rows because they contain missing values
Computing renters_10000
Removed 102597 rows because they contain missing values
Computing avg_income_10000
Removed 189769 rows because they contain missing values
Computing jobs_10000
Computing avg_rent_10000
Computing med_rent_10000
Computing pop_white_10000
Removed 107372 rows because they contain missing values
Computing pop_black_10000
Removed 10541 rows because they contain missing values
Computing pop_asian_10000
Removed 51048 rows because they contain missing values
Computing pop_hisp_10000
Removed 31685 rows because they contain missing values
Computing units_25000
Computing units_sf_25000
Computing units_mf_25000
Computing pop_25000
Removed 189769 rows because they contain missing values
Computing hh_25000
Removed 189769 rows because they contain missing values
Computing poor_25000
Removed 53114 rows because they contain missing values
Computing renters_25000
Removed 102597 rows because they contain missing values
Computing avg_income_25000
Removed 189769 rows because they contain missing values
Computing jobs_25000
Computing avg_rent_25000
Computing pop_white_25000
Removed 107372 rows because they contain missing values
Computing pop_black_25000
Removed 10541 rows because they contain missing values
Computing pop_asian_25000
Removed 51048 rows because they contain missing values
Computing pop_hisp_25000
Removed 31685 rows because they contain missing values
Computing jobs_10000_retail
Computing jobs_25000_retail
Computing jobs_10000_fire
Computing jobs_25000_fire
Computing jobs_10000_tech
Computing jobs_25000_tech
Computing jobs_10000_serv
Computing jobs_25000_serv
         units_10000  units_sf_10000  units_mf_10000      pop_10000  \
count   30826.000000    30826.000000    30826.000000   30826.000000
mean   111655.259521    60758.737592    45983.788815  260258.257023
std     87205.002426    37438.499035    46022.772268  188415.644622
min         0.000000        0.000000        0.000000       0.000000
25%     43964.000000    31220.250000    10558.000000  106529.000000
50%     96857.000000    59397.000000    32540.000000  231992.500000
75%    163123.000000    90067.750000    69669.000000  392372.500000
max    406849.000000   147988.000000   205873.000000  838919.000000

            hh_10000     poor_10000  renters_10000  avg_income_10000  \
count   30826.000000   30826.000000   30826.000000      30826.000000
mean    99092.191721   24263.902939   47250.300298     111232.133257
std     78052.959198   22118.834988   47935.457922      30332.958647
min         0.000000       0.000000       0.000000          0.000000
25%     39191.000000    7995.750000   13226.250000      93100.589083
50%     85632.500000   17593.000000   33265.000000     111716.310346
75%    143063.250000   34092.750000   65630.250000     129610.887845
max    370544.000000  100942.000000  225495.000000     265525.000000

          jobs_10000  avg_rent_10000       ...         pop_asian_25000  \
count   30826.000000    30826.000000       ...            30826.000000
mean   118243.519464     2643.122460       ...           294669.101408
std    107993.608729      776.766843       ...           217585.925381
min         0.000000        0.000000       ...                0.000000
25%     28940.250000     2269.256141       ...            73012.250000
50%     92301.500000     2712.736729       ...           312616.000000
75%    176945.000000     2983.646159       ...           477996.500000
max    428606.000000     7266.666667       ...           693127.000000

       pop_hisp_25000  jobs_10000_retail  jobs_25000_retail  jobs_10000_fire  \
count    30826.000000       30826.000000       30826.000000     30826.000000
mean    183838.911698       15902.012100       55488.349478      8651.443132
std     110234.361576       14105.231994       33838.915279     10033.247270
min          0.000000           0.000000           0.000000         0.000000
25%      88483.750000        4314.000000       21935.500000      2093.000000
50%     181105.000000       13269.500000       61066.000000      5932.500000
75%     298576.750000       21232.750000       87060.000000     10849.000000
max     351717.000000       61048.000000      103899.000000     48870.000000

       jobs_25000_fire  jobs_10000_tech  jobs_25000_tech  jobs_10000_serv  \
count     30826.000000     30826.000000     30826.000000     30826.000000
mean      30371.376533     18321.402161     63953.289593     10136.738240
std       20592.329443     21681.852522     46756.286825     11020.692482
min           0.000000         0.000000         0.000000         0.000000
25%       10928.000000      2208.000000     16480.250000      2744.000000
50%       31111.500000      9152.500000     64664.000000      6776.000000
75%       42117.750000     28647.500000     98836.750000     13249.750000
max       73607.000000    103018.000000    149697.000000     51636.000000

       jobs_25000_serv
count     30826.000000
mean      34163.351489
std       23411.034125
min           0.000000
25%       11541.000000
50%       32524.000000
75%       50603.750000
max       82062.000000

[8 rows x 37 columns]
Time to execute step 'network_aggregations_small': 677.69 s
Running step 'initialize_network_walk'
Time to execute step 'initialize_network_walk': 0.00 s
Running step 'network_aggregations_walk'
Computing accessibility variables
Computing units_500_walk
Computing sqft_unit_500_walk
Computing singles_500_walk
Removed 52084 rows because they contain missing values
Computing elderly_hh_500_walk
Removed 34553 rows because they contain missing values
Computing children_500_walk
Removed 189769 rows because they contain missing values
Computing units_sf_500_walk
Computing units_mf_500_walk
Computing pop_500_walk
Removed 189769 rows because they contain missing values
Computing hh_500_walk
Removed 189769 rows because they contain missing values
Computing poor_500_walk
Removed 53114 rows because they contain missing values
Computing rich_500_walk
Removed 38964 rows because they contain missing values
Computing renters_500_walk
Removed 102597 rows because they contain missing values
Computing avg_income_500_walk
Removed 189769 rows because they contain missing values
Computing jobs_500_walk
Computing avg_rent_500_walk
Computing pop_white_500_walk
Removed 107372 rows because they contain missing values
Computing pop_black_500_walk
Removed 10541 rows because they contain missing values
Computing pop_asian_500_walk
Removed 51048 rows because they contain missing values
Computing pop_hisp_500_walk
Removed 31685 rows because they contain missing values
Computing units_1500_walk
Computing sqft_unit_1500_walk
Computing singles_1500_walk
Removed 52084 rows because they contain missing values
Computing elderly_hh_1500_walk
Removed 34553 rows because they contain missing values
Computing children_1500_walk
Removed 189769 rows because they contain missing values
Computing units_sf_1500_walk
Computing units_mf_1500_walk
Computing pop_1500_walk
Removed 189769 rows because they contain missing values
Computing hh_1500_walk
Removed 189769 rows because they contain missing values
Computing poor_1500_walk
Removed 53114 rows because they contain missing values
Computing rich_1500_walk
Removed 38964 rows because they contain missing values
Computing renters_1500_walk
Removed 102597 rows because they contain missing values
Computing avg_income_1500_walk
Removed 189769 rows because they contain missing values
Computing jobs_1500_walk
Computing avg_rent_1500_walk
Computing pop_white_1500_walk
Removed 107372 rows because they contain missing values
Computing pop_black_1500_walk
Removed 10541 rows because they contain missing values

Computing pop_asian_1500_walk
Removed 51048 rows because they contain missing values
Computing pop_hisp_1500_walk
Removed 31685 rows because they contain missing values
Computing pop_2500_walk
Removed 189769 rows because they contain missing values
Computing pop_white_2500_walk
Removed 107372 rows because they contain missing values
Computing pop_black_2500_walk
Removed 10541 rows because they contain missing values
Computing pop_asian_2500_walk
Removed 51048 rows because they contain missing values
Computing pop_hisp_2500_walk
Removed 31685 rows because they contain missing values
Computing jobs_500_walk_retail
Computing jobs_1500_walk_retail
Computing jobs_2500_walk_retail
Computing jobs_500_walk_fire
Computing jobs_1500_walk_fire
Computing jobs_2500_walk_fire
Computing jobs_500_walk_tech
Computing jobs_1500_walk_tech
Computing jobs_2500_walk_tech
Computing jobs_500_walk_serv
Computing jobs_1500_walk_serv
Computing jobs_2500_walk_serv
       units_500_walk  sqft_unit_500_walk  singles_500_walk  \
count   415716.000000       415716.000000     415716.000000
mean       356.025760         1245.303477         94.368742
std       1097.266478          979.057308        344.532606
min          0.000000            0.000000          0.000000
25%          8.000000          455.911149          1.000000
50%        188.000000         1315.697967         27.000000
75%        440.000000         1761.777561         87.000000
max     184977.000000        30000.000000      45805.000000

       elderly_hh_500_walk  children_500_walk  units_sf_500_walk  \
count        415716.000000      415716.000000      415716.000000
mean             58.488439         158.008881         163.913537
std             241.396787         443.206144         704.706968
min               0.000000           0.000000           0.000000
25%               1.000000           3.000000           2.000000
50%              28.000000          92.000000          98.000000
75%              70.000000         231.000000         247.000000
max           41743.000000       81187.000000      136953.000000

       units_mf_500_walk   pop_500_walk    hh_500_walk  poor_500_walk  \
count      415716.000000  415716.000000  415716.000000  415716.000000
mean          165.691405     792.425952     315.910172      85.848214
std           469.461483    2241.623502     957.091514     320.291735
min             0.000000       0.000000       0.000000       0.000000
25%             0.000000      20.000000       7.000000       1.000000
50%             2.000000     462.000000     170.000000      25.000000
75%           159.000000    1085.000000     395.000000      83.000000
max         48024.000000  396939.000000  162454.000000   42782.000000

              ...           jobs_2500_walk_retail  jobs_500_walk_fire  \
count         ...                   415716.000000       415716.000000
mean          ...                     1581.179690           53.885460
std           ...                     3031.162291          429.421888
min           ...                        0.000000            0.000000
25%           ...                      223.000000            0.000000
50%           ...                      842.000000            3.000000
75%           ...                     1990.000000           23.000000
max           ...                    35933.000000        20526.000000

       jobs_1500_walk_fire  jobs_2500_walk_fire  jobs_500_walk_tech  \
count        415716.000000        415716.000000       415716.000000
mean            420.179305           979.940062          106.490318
std            1996.134238          3203.315346          791.083748
min               0.000000             0.000000            0.000000
25%              19.000000           112.000000            0.000000
50%             101.000000           366.000000            4.000000
75%             278.000000           857.000000           30.000000
max           34721.000000         38378.000000        31572.000000

       jobs_1500_walk_tech  jobs_2500_walk_tech  jobs_500_walk_serv  \
count        415716.000000        415716.000000       415716.000000
mean            815.705017          1950.765186           60.123912
std            3808.003905          6458.022536          270.243780
min               0.000000             0.000000            0.000000
25%              25.000000           126.000000            0.000000
50%             117.000000           455.000000            0.000000
75%             463.000000          1449.000000           35.000000
max           68294.000000         77926.000000        12480.000000

       jobs_1500_walk_serv  jobs_2500_walk_serv
count        415716.000000        415716.000000
mean            436.386119          1104.828303
std            1438.848663          2959.981741
min               0.000000             0.000000
25%              12.000000           116.000000
50%             127.000000           494.000000
75%             416.000000          1108.000000
max           25447.000000         34317.000000

[8 rows x 55 columns]
Time to execute step 'network_aggregations_walk': 511.91 s
Running step 'initialize_imputed_skims'
No imputed skims found. Creating them now.
Time to execute step 'initialize_imputed_skims': 87.02 s
Running step 'skims_aggregations'
Time to execute step 'skims_aggregations': 0.00 s
Total time to execute iteration 1 with iteration value None: 1276.62 s

In [11]:
#Tables
table_list = ['households', 'persons', 'nodessmall', 'nodeswalk', 'zones', 'access_indicators_ampeak', 'parcels']

households = orca.get_table('households').to_frame()
persons = orca.get_table('persons').to_frame()
nodessmall = orca.get_table('nodessmall').to_frame()
nodeswalk = orca.get_table('nodeswalk').to_frame()
zones = orca.get_table('zones').to_frame()
transit = orca.get_table('access_indicators_ampeak').to_frame()
parcels = orca.get_table('parcels').to_frame()

In [91]:
# orca.list_tables()

In [12]:
#Adding variables to the model 
#Person table 
@orca.column('persons', cache=True)
def children(persons):
    return [1 if x < 18 else 0 for x in persons.age]

@orca.column('persons', cache=True)
def children(persons):
    return [1 if x < 18 else 0 for x in persons.age]

@orca.column('persons')
def age_0_15(persons):
    return  (persons.age.between(0,15, inclusive = True )).astype(int)

@orca.column('persons')
def age_16_17(persons):
    return  (persons.age.between(16,17, inclusive = True )).astype(int)

@orca.column('persons')
def age_18_25(persons):
    return  (persons.age.between(18,25, inclusive = True )).astype(int)

@orca.column('persons')
def age_26_40(persons):
    return  (persons.age.between(26,40, inclusive = True )).astype(int)

@orca.column('persons')
def age_41_60(persons):
    return  (persons.age.between(41,60, inclusive = True )).astype(int)

@orca.column('persons')
def age_60(persons):
    return  (persons.age.between(61,100, inclusive = True )).astype(int)

@orca.column('persons')
def worker_student(persons):
    return  (persons.worker * persons.student).astype(int)

@orca.column('persons')
def non_worker_non_student(persons):
    return  ((~persons.worker.astype(bool))*(~persons.student.astype(bool))).astype(int)

In [64]:
# persons = orca.get_table('persons').to_frame()
# persons

In [13]:
#Creating person-based variables to merge onto Household table
# Missing variables>> Parcel ID

person_var = persons.groupby(by ='household_id').agg({'age': 'max',
                                                    'zone_id_home': 'first',
                                                    'children':'sum',
                                                    'age_0_15': 'sum',
                                                    'age_16_17': 'sum',
                                                    'age_18_25': 'sum',
                                                    'age_26_40': 'sum',
                                                    'age_41_60': 'sum',
                                                    'age_60': 'sum', 
                                                    'non_worker_non_student': 'sum',
                                                    'worker_student':'sum',
                                                    'worker': 'sum',
                                                    'student': 'sum'})

orca.add_table('person_var', person_var);

In [15]:
#Broadcasting 
orca.broadcast(cast = 'nodessmall', onto = 'households', cast_index = True, onto_on = 'node_id_small')
orca.broadcast(cast = 'nodesewalk', onto = 'households', cast_index = True, onto_on = 'node_id_wlak')
orca.broadcast(cast = 'person_var', onto = 'households', cast_index = True, onto_index = True)

# parcels_acc = orca.merge_tables(target = 'parcels', tables = ['parcels', 'nodessmall', 'nodeswalk'])

In [38]:
final_merge = orca.merge_tables(target = 'households', 
                  tables = ['zones', 'parcels', 'buildings', 'units','nodessmall', 
                            'nodeswalk','person_var', 'households'],) 
#                   columns = ['zone_id'])

In [49]:
#Getting hispanic head variable as a dummy variable
final_merge['hisp_head'] = final_merge.hispanic_head.map({'no': 0, 'yes': 1})

#Deleting object type  columns
drop_var = list(final_merge.loc[:,list(final_merge.dtypes[final_merge.dtypes == 'object'].index)])
final_merge.drop(columns=drop_var, inplace= True)

#New cateforization for number of cars per household
final_merge['cars'] = final_merge['cars'].apply(lambda x: 0*(x==0)+ 1*(x==1)+ 2*(x==2)+3*(x>=3))

In [ ]:
#Getting variables names for each data source
accessibility_var = set(parcels_acc) - set(parcels)
parcel_var = set(parcels.columns) - set(accessibility_var)
skim_accessibility = set(skim_based_accessibilities.columns)
households_var_continious = ['INCOM','AGE', 'children']#, 'TransitPass'] # ,'PERNO', 'EMPLY'                   
households_var_dummy = ['max_35', 'age_0_15', 
                    'age_16_17', 'age_18_25', 'age_25_40','age_40_60',
                    'age_60', 'worker_student', 'non_worker_non_student',
                   'worker','student','RESTY', 'TEN']#, 'HHLIC', ]
dependent_var = ['cars_alt']

## Machine learning approach

In [53]:
def normalize(data):
    ''' 
    Normalizes values in a Series
    Input: 
    data: Series-like
    
    Return: Normalized Series-like object
    '''
    if data.dtype == 'O':
        return 0
    else:
        return (data - np.mean(data)) / np.std(data)

In [ ]:
['zones', 'parcels', 'buildings', 'units','nodessmall', 
                            'nodeswalk','person_var', 'households'

In [132]:
hh_var = set(households)-{'state','serialno','income_10','income_12','income_12p','income_2',
                 'income_4', 'income_6', 'income_8','hh_inc_150kplus','hh_inc_25_to_75k',
                 'hh_inc_75_to_200k','hh_inc_under_25k', 'hh_size_1per','hh_size_over_4',
                 'building_type_2','node_id_small','node_id_walk','single_family',
                 'single_family_int','tenure_1','tenure_2','tenure_3','tenure_4','unit_id',
                 'block_group','block_group_id', 'hispanic_head', 'county','tract'}
zone_var = set(zones)-{'acres'}
parcel_var =set(parcels)-{'node_id','node_id_small','node_id_walk','shape_area','x','y',
                          'zone_id', 'apn', 'parcel_id_local', 'block_id','imputation_flag'}

per_var = set(person_var)-{'zone_id_home'}

In [133]:
final_vars = set(list(hh_var) + list(zone_var) +list(parcel_var) + list(per_var))

In [134]:
df = final_merge.loc[:,list(final_vars)]

In [135]:
# set(parcels)

In [136]:
for x in df.columns:
    if len(df[x].unique()) <= 2:
        print (x)
#     print (x, len(df[x].unique()))

recent_mover
proportion_undevelopable
tenure
tax_exempt_status

In [119]:
df['hispanic_head'].unique()

array([nan])

In [ ]:
recent_mover, proportion_undevelopable, tax_exempt_status

In [138]:
households.tenure.unique()

array([2, 1])

In [ ]:
"""
Merge is complete. 
>> Run the ML algrotihms for a feature selction
>> Run a real model using pylogit instead of statmodels
>> Save the pickle file and run simulation. Do a step for simulation and add it to the run.py
"""