# SCHOOL LOCATION CHOICE MODEL (K-12)

## General discription:

Nested logit especification. Nest are public and private school. 

Input files: Beam-skim generalized time and cost, 
             School data set, 
             Students K-12 with school ID.

In [7]:
import numpy as np
import pandas as pd
import orca
import os; os.chdir('../')
import warnings; warnings.simplefilter('ignore')
from urbansim.utils import misc
import pandana as pdna
from collections import OrderedDict
    
from urbansim_templates import modelmanager as mm
from urbansim_templates.models import LargeMultinomialLogitStep
import pandas as pd
import orca
# import os; os.chdir('/home/juan/activitysynth/')
import warnings; warnings.simplefilter('ignore')
from matplotlib import pyplot as plt
import matplotlib.animation as animation
import seaborn as sns
from sklearn.neighbors import BallTree

import pylogit as pl                   # For choice model estimation
from pylogit import nested_logit as nl # For nested logit convenience funcs
import math 
from collections import OrderedDict 

import pickle
import dill

import urbansim_templates

# from scripts import datasources, models, variables, utils

In [8]:
from scripts import datasources, models, variables, utils

## Loading input files

In [9]:
input_file_format = 'csv'
input_data_dir = '/home/data/spring_2019/base/'

formattable_fname_dict = {
    'parcels': 'parcels.{0}',
    'buildings': 'buildings.{0}',
    'jobs': 'jobs.{0}',
    'establishments': 'establishments.{0}',
    'households': 'households.{0}',
    'persons': 'persons.{0}',
    'rentals': 'craigslist.{0}',
    'units': 'units.{0}',
    'mtc_skims': 'mtc_skims.{0}',
    'beam_skims_raw': '30.skims-smart-23April2019-baseline.csv.gz',
    'beam_skims_imputed': 'beam_skims_imputed.{0}',
    # the following nodes and edges .csv's will be phased out and
    # replaced by travel model skims entirely
    'drive_nodes': 'drive_nodes.{0}',
    'drive_edges': 'drive_edges.{0}',
    'drive_access_vars': 'drive_net_vars.{0}',
    'walk_nodes': 'walk_nodes.{0}',
    'walk_edges': 'walk_edges.{0}',
    'walk_access_vars': 'walk_net_vars.{0}',
    'zones': 'zones.{0}',
    'zone_access_vars': 'zones_w_access_vars.{0}',
}

# # estimate from base-year data
# formattable_fname_dict = {
#     'parcels': 'parcels.{0}',
#     'buildings': 'buildings.{0}',
#     'jobs': 'jobs.{0}',
#     'establishments': 'establishments.{0}',
#     'households': 'households.{0}',
#     'persons': 'persons.{0}',
#     'rentals': 'MTC_craigslist_listings_7-10-18.{0}',
#     'units': 'units.{0}',
#     'mtc_skims': 'mtc_skims.{0}',
#     'beam_skims_raw': '30.skims-smart-23April2019-baseline.csv.gz',
#     'drive_nodes': 'drive_nodes.{0}',
#     'drive_edges': 'drive_edges.{0}',
#     'drive_access_vars': 'drive_net_vars.{0}',
#     'walk_nodes': 'walk_nodes.{0}',
#     'walk_edges': 'walk_edges.{0}',
#     'walk_access_vars': 'walk_net_vars.{0}',
#     'zones': 'zones.{0}',
#     'zone_access_vars': 'zones_w_access_vars.{0}',
# }

def format_fname_dict(formattable_fname_dict, format='csv'):
    formatted_dict = {
        k: v.format('csv')
        for k, v in formattable_fname_dict.items()}
    return formatted_dict

input_fnames = format_fname_dict(
            formattable_fname_dict, input_file_format)

In [10]:
orca.add_injectable('input_file_format', input_file_format)
orca.add_injectable('input_data_dir', input_data_dir)
orca.add_injectable('input_fnames', input_fnames)
orca.add_injectable('store', None)

In [11]:
# os.listdir("/home/data/fall_2018/HWtrips_032319.csv")

# Loading data

In [12]:
orca.run(['initialize_network_small']) 
orca.run([ 'initialize_network_walk']) 
orca.run(['initialize_imputed_skims'])

Running step 'initialize_network_small'
Time to execute step 'initialize_network_small': 0.00 s
Total time to execute iteration 1 with iteration value None: 0.00 s
Running step 'initialize_network_walk'
Time to execute step 'initialize_network_walk': 0.00 s
Total time to execute iteration 1 with iteration value None: 0.00 s
Running step 'initialize_imputed_skims'
No imputed skims found. Creating them now.
Time to execute step 'initialize_imputed_skims': 87.11 s
Total time to execute iteration 1 with iteration value None: 87.11 s

In [13]:
#Loading Data 
reset_beam_skims = orca.get_table('beam_skims_imputed').to_frame().reset_index()
# reset_beam_skims = beam_skims.reset_index()

students = pd.read_csv('/home/juan/ual_model_workspace/spring-2019-models/notebooks-juan/students_with_school_id.csv')
schools = pd.read_csv('/home/juan/ual_model_workspace/spring-2019-models/notebooks-juan/schools.csv').rename({"parcel_id": "school_parcel_id"}, axis=1)
parcels = orca.get_table('parcels').to_frame()
household_chts = pd.read_csv("/home/data/fall_2018/CHTS_csv_format/data/Deliv_HH.csv")

In [14]:
parcels = orca.get_table('parcels').to_frame()

In [15]:
# orca.run(['initialize_imputed_skims'])  isnt working, so I did this for now
mtc_skims = orca.get_table('mtc_skims')
raw_skims = orca.get_table('beam_skims_raw')
reset_beam_skims = utils.impute_missing_skims(mtc_skims, raw_skims).reset_index()

## Preprocessing

In [16]:
#Small netwrok 
nodessmall = pd.read_csv('/home/data/fall_2018/bay_area_tertiary_strongly_nodes.csv').set_index('osmid')
edgessmall = pd.read_csv('/home/data/fall_2018/bay_area_tertiary_strongly_edges.csv')
netsmall = pdna.Network(nodessmall.x, nodessmall.y, edgessmall.u,
                                edgessmall.v, edgessmall[['length']],
                                twoway=False)
netsmall.precompute(25000)

#Making sure x and y coordinates are type float
students['x_cor'] = students.HXCORD.astype(float)
students['y_cor'] = students.HYCORD.astype(float)

schools['Latitude'] = schools['Latitude'].astype(float)
schools['Longitude'] = schools['Longitude'].astype(float)

#Adding list of grades offered by each school
list_grades = []
for index, row in schools.loc[:,schools.columns.str.startswith("grade_")].iterrows():
    x = np.array(row)
    list_grades.append(x)
    
schools['list_grades'] = list_grades

#Filtering students by age
students = students[students.AGE <= 18]

In [17]:
#Some spatial functions 

def node_id_small(x, y, netsmall):
    """ Return the node ID given a pair of coordinates"""
    idssmall = netsmall.get_node_ids(x, y)
    return idssmall

def parcel_id(data):
    ''' Assigns a parcel ID given a x and y coordinate
    Input: DataFrame with x and y coordinates
    Output: Array-like Parcel_ID'''
    #Transforming Latitude/Longitude to radians
    parcels_rad = np.deg2rad(parcels[['y', 'x']])
    data_rad = np.deg2rad(data)
    
    tree = BallTree(parcels_rad, metric='haversine')
    
    dists, idxs = tree.query(data_rad, return_distance=True)
    
    return parcels.iloc[idxs[:,0]].index

def get_zone_id(parcel_id):
    '''gets the zone_id (TAZ) of school and home locations by the parcel id'''
    try: 
        parcel_id = list(parcels.loc[parcel_id,'zone_id'])

    except Exception as e:
        parcel_id = np.nan
        
    return parcel_id

In [18]:
# Adding spatial information to schools and students dataframes

#Node_ID
students['home_node_id'] = node_id_small(students.x_cor, students.y_cor, netsmall)
schools['school_node_id'] = node_id_small(schools.Longitude, schools.Latitude, netsmall)

#Parcel_ID
students['home_parcel_id'] = parcel_id(students[['y_cor', 'x_cor']])
schools['school_parcel_id'] = parcel_id(schools[['Latitude', 'Longitude']])

#Zone-ID
students['home_zone_id'] = get_zone_id(students['home_parcel_id'])
schools['school_zone_id'] = get_zone_id(schools['school_parcel_id'])

#Adding household income for each individual 
students = students.merge(household_chts.loc[:,['SAMPN', 'INCOM']], how = 'left', on = 'SAMPN')

#Creates 3 dummies for income

students['hh_inc_under_25k'] = (students['INCOM'] < 3).astype(int)
students['hh_inc_25_to_75k'] = ((students['INCOM'] > 2) & (students['INCOM'] < 6)).astype(int)
students['hh_inc_75_to_200k'] = ((students['INCOM'] > 5) & (students['INCOM'] < 9)).astype(int)

In [19]:
#School dataset final version (Final table ready for simulation)
schools = schools.drop(['nodeID'], axis = 1)
schools.to_csv('/home/juan/ual_model_workspace/spring-2019-models/notebooks-juan/schools_v1.csv')

## Defining Choice set constrains

In [20]:
#Merging students and schools 
students_1 = students.merge(schools, how = 'left', on = 'school_id')

# Droping students with no assigned school
students_1 = students_1.dropna(subset=['school_id'])

In [21]:
#Define the node ID for each home and school location in students dataset
students_1['node_id_home'] = node_id_small(students_1.HXCORD, students_1.HYCORD, netsmall)
students_1['node_id_school'] = node_id_small(students_1.Longitude, students_1.Latitude, netsmall)

#Creating a df for public shcools only
df_public = students_1[students_1.school_id <= 2827].loc[:,['SAMPN', 'PERNO', 'school_id',
                                                        'AGE','HCITY','HYCORD','HXCORD',
                                                        'SNAME_lookup','SCITY_lookup', 
                                                        'node_id_home', 'node_id_school']]

#Creating a df for private shcools only
df_private = students_1[students_1.school_id > 2827].loc[:,['SAMPN', 'PERNO', 'school_id',
                                                        'AGE','HCITY','HYCORD','HXCORD',
                                                        'SNAME_lookup','SCITY_lookup', 
                                                        'node_id_home', 'node_id_school']]

In [22]:
#Setting public and private schools as POIs. 
netsmall.set_pois('public_school', 500000, 10000, 
                  schools[schools.type == 'public'].Longitude, 
                  schools[schools.type == 'public'].Latitude, )

netsmall.set_pois('private_school', 500000, 10000, 
                  schools[schools.type == 'private'].Longitude, 
                  schools[schools.type == 'private'].Latitude)

In [23]:
#Public schools. 95% of the time, the school is within the x's closest schools. Finding x
n =50

# n closest public schools per each node in netsmall
distance_matrix_public = netsmall.nearest_pois(200000, 
                                               'public_school', 
                                               num_pois=n,
                                               include_poi_ids=True)

# Selects POIS id's only 
public_nodes = distance_matrix_public.iloc[:,n:]

# Creates a list of n closest POIs for each node
list_values = []
for index, row in public_nodes.iterrows():
    x = np.array(row)
    x = x[~np.isnan(x)]
    list_values.append(x)

#Add created list to public nodes 
public_nodes['list_values'] = list_values


merge = df_public.merge(public_nodes.loc[:,['list_values']], how = 'left', left_on = 'node_id_home', right_index= True)

school_position = []
for index, row in merge.iterrows():
    school_position.append(np.isin(row['school_id']-1000,row['list_values'])==True)
    
merge['school_position'] = school_position

merge.school_position.mean()

0.9131504922644164

In [24]:
#Private schools. 95% of the time, the school is within the x's closest schools. Finding x
n =100

distance_matrix_private = netsmall.nearest_pois(100000, 
                                                'private_school', 
                                                num_pois=n, 
                                                include_poi_ids=True)

private_nodes = distance_matrix_private.iloc[:,n:]

list_values = []
for index, row in private_nodes.iterrows():
    x = np.array(row)
    x = x[~np.isnan(x)]
    list_values.append(x)
    
private_nodes['list_values'] = list_values


merge = df_private.merge(private_nodes.loc[:,['list_values']], how = 'left', left_on = 'node_id_home', right_index= True)

school_position = []
for index, row in merge.iterrows():
    school_position.append(np.isin(row['school_id']-1000,row['list_values'])==True)
    
merge['school_position'] = school_position

merge.school_position.mean()

0.8758465011286681

## Getting data_long table

In [25]:
def school_available(age, grades_offered):
    """ Checks if a school offers a grade according to the age range
    Input: Age: int in range (5-18)
           grades_offered: 13 element array
    Output: True if grade if offered acoording to age, false otherwise. 
     """
    index = age - 6
    
    if index < 0:
        index = 0

    if index < 12:
        result = (grades_offered[index] == 1) | (grades_offered[index + 1] == 1)
        
    elif index == 12:
        result = (grades_offered[index] == 1)
    
    return result

In [26]:
def school_choice_set(house_node_id, kid_age):
    """ Determines the school choice set given home node id and age of the student (4-18)
    Output: Pandas series with available school IDs"""
    
    public_id = distance_matrix_public.iloc[:,50:].loc[house_node_id] + 1000
    private_id = distance_matrix_private.iloc[:,100:].loc[house_node_id] + 1000
    schools_filter = pd.concat([public_id, private_id])
    schools_set = schools[schools.school_id.isin(schools_filter)]
    school_availability = [school_available(kid_age, x) for x in schools_set.list_grades]
    try:
        schools_available = schools_set[school_availability].school_id
        return schools_available
    except Exception as e:
        print(e)
        print("empty dataframe?")
    
    return np.nan

In [27]:
#Creating long data frame
stu = students[["AGE", 
                "home_node_id", 
                "home_zone_id", 
                "school_id", 
                'hh_inc_under_25k',
                'hh_inc_25_to_75k', 
                'hh_inc_75_to_200k',
                'HPrimaryCity']] 

dfs = []
for index, record in stu.iterrows():
    scs = school_choice_set(int(record['home_node_id']), int(record['AGE']))
    
    if pd.Series(record['school_id']).isin(scs)[0]: #Makes sure that the choseen school is in the choice set
        df = pd.DataFrame({'obs_id': index, 
                           'AGE': record['AGE'], 
                           'home_node_id' : record['home_node_id'],
                           'home_zone_id' : record['home_zone_id'], 
                           'chosen_school' : record['school_id'],
                           'school_choice_set': scs,
                           'hh_inc_under_25k': record['hh_inc_under_25k'],
                           'hh_inc_25_to_75k' : record['hh_inc_25_to_75k'],
                           'hh_inc_75_to_200k' : record['hh_inc_75_to_200k'],
                           'home_city': record['HPrimaryCity']})
                           
        dfs.append(df)
    

all_choices = pd.concat(dfs, axis=0)

#Creating the choice column
all_choices['choice'] = 1*(all_choices.chosen_school == all_choices.school_choice_set)
all_choices.head()

,obs_id,AGE,home_node_id,home_zone_id,chosen_school,school_choice_set,hh_inc_under_25k,hh_inc_25_to_75k,hh_inc_75_to_200k,home_city,choice
939,1,14,2089641167,311,3234.0,1939,0,0,1,REDWOOD CITY,0
943,1,14,2089641167,311,3234.0,1943,0,0,1,REDWOOD CITY,0
944,1,14,2089641167,311,3234.0,1944,0,0,1,REDWOOD CITY,0
950,1,14,2089641167,311,3234.0,1950,0,0,1,REDWOOD CITY,0
951,1,14,2089641167,311,3234.0,1951,0,0,1,REDWOOD CITY,0

In [28]:
schools.columns

Index(['CDSCode', 'School', 'District', 'County', 'Street', 'City', 'Zip',
       'State', 'Latitude', 'Longitude', 'type', 'grade_0', 'grade_1',
       'grade_2', 'grade_3', 'grade_4', 'grade_5', 'grade_6', 'grade_7',
       'grade_8', 'grade_9', 'grade_10', 'grade_11', 'grade_12',
       'Kindergarten Enrollment', 'Grade 1 Enrollment', 'Grade 2 Enrollment',
       'Grade 3 Enrollment', 'Grade 4 Enrollment', 'Grade 5 Enrollment',
       'Grade 6 Enrollment', 'Grade 7 Enrollment', 'Grade 8 Enrollment',
       'Ungraded Elementary Enrollmnet', 'Grade 9 Enrollment',
       'Grade 10 Enrollment', 'Grade 11 Enrollment', 'Grade 12 Enrollment',
       'Ungraded Secondary Enrollment', 'Total Enrollment', 'sw_rank_2108',
       'sw_rank_2017', 'sw_rank_2016', 'ss_rank_2018_', 'ss_rank_2017',
       'ss_rank_2016', 'school_parcel_id', 'school_id', 'list_grades',
       'school_node_id', 'school_zone_id'],
      dtype='object')

In [29]:
#Getting zone id for schools in the choice set
df = all_choices.merge(schools.loc[:,['school_id','school_zone_id','sw_rank_2108', 'City']], 
                       left_on = 'school_choice_set', 
                       right_on = 'school_id').sort_values('obs_id')

In [30]:
df[df.choice == 1]

df['home_city'] = df['home_city'].apply(lambda x: x.lower())
df['City'] = df['City'].apply(lambda x: x.lower())
df['same_city?'] = 1*(df['home_city'] == df['City'])

In [31]:
#Getting beam generalized time and cost
data_long = df.merge(reset_beam_skims, 
                     how = 'left', 
                     left_on=['home_zone_id','school_zone_id'], 
                     right_on = ['from_zone_id','to_zone_id'])

In [32]:
#Imputing school grades
avg_grade = data_long.sw_rank_2108.mean()
data_long['rank'] = data_long.sw_rank_2108.fillna(avg_grade)

In [33]:
data_long.chosen_school = data_long.chosen_school.astype('int64')

In [34]:
data_long.head()

,obs_id,AGE,home_node_id,home_zone_id,chosen_school,school_choice_set,hh_inc_under_25k,hh_inc_25_to_75k,hh_inc_75_to_200k,home_city,...,gen_cost_WALK_TRANSIT,gen_tt_BIKE,gen_tt_CAR,gen_tt_DRIVE_TRANSIT,gen_tt_RIDE_HAIL,gen_tt_RIDE_HAIL_POOLED,gen_tt_RIDE_HAIL_TRANSIT,gen_tt_WALK,gen_tt_WALK_TRANSIT,rank
0,1,14,2089641167,311,3234,1939,0,0,1,redwood city,...,577.103546,42.142388,9.053736,14.992984,16.233625,12.613691,14.317352,177.719282,602.802226,6.72255
1,1,14,2089641167,311,3234,3289,0,0,1,redwood city,...,622.132326,45.430568,9.760158,16.162818,17.500262,13.597881,15.434471,191.585914,649.836158,6.72255
2,1,14,2089641167,311,3234,2087,0,0,1,redwood city,...,524.723129,38.317362,8.231980,13.632155,14.760191,11.468818,13.017847,161.588710,548.089285,10.00000
3,1,14,2089641167,311,3234,3272,0,0,1,redwood city,...,1311.348345,95.759853,20.572741,34.068452,36.887553,28.662002,32.533219,403.830280,1369.743275,6.72255
4,1,14,2089641167,311,3234,3300,0,0,1,redwood city,...,764.570303,55.831953,11.994759,19.863316,21.506968,16.711132,18.968212,235.449750,798.616962,6.72255

## Model estimation

In [51]:
type(list(set(range(1000,3547,1)) - set(list_1))[0])

int

In [40]:
# list if schools that are not in any of choice set
list_1 = [1459, 1685, 1746, 1749, 1750, 2006, 2063, 2327, 2662, 2679, 3378, 3379, 3381, 3432, 3454]


@orca.injectable(autocall=False)
def SLCM(data_long):
    # Specify the nested structure
    nest_membership = OrderedDict()
    nest_membership["Public School"] = list(set(range(1000,2828,1)) -set([1459, 1685, 1746, 1749, 1750, 2006, 2063, 2327, 2662, 2679]))
    nest_membership["Private School"] = list(set(range(2828,3547,1)) -set([3378, 3379, 3381, 3432, 3454]))
    
    #Model especification
    basic_specification = OrderedDict()
    basic_names = OrderedDict()
        
#     basic_specification["gen_tt_RIDE_HAIL"] = [list(set(range(1000,3547,1)) - set(list_1)) ]
#     basic_names["gen_tt_RIDE_HAIL"] = ['gen_tt_RIDE_HAIL']
    
#     basic_specification["gen_tt_WALK"] = [list(set(range(1000,3547,1)) - set(list_1)) ]
#     basic_names["gen_tt_WALK"] = ['gen_tt_WALK']
        
#     basic_specification["gen_tt_WALK_TRANSIT"] = [list(set(range(1000,3547,1)) - set(list_1)) ]
#     basic_names["gen_tt_WALK_TRANSIT"] = ['gen_tt_WALK_TRANSIT']
    
    # Travel time
    data_long["np.log1p(gen_tt_CAR)"] = np.log1p(data_long['gen_tt_CAR'])
    basic_specification["np.log1p(gen_tt_CAR)"] = [list(set(range(1000,3547,1)) - set(list_1))]
    basic_names["np.log1p(gen_tt_CAR)"] = ["np.log1p(gen_tt_CAR)"]
    
#     data_long["np.log1p(gen_tt_WALK)"] = np.log1p(data_long['gen_tt_WALK'])
#     basic_specification["np.log1p(gen_tt_WALK)"] = [list(set(range(1000,3547,1)) - set(list_1)) ]
#     basic_names["np.log1p(gen_tt_WALK)"] = ['np.log1p(gen_tt_WALK)']
    
#     #Cost 
#     basic_specification["gen_cost_BIKE"] = [list(set(range(1000,3547,1)) - set(list_1)) ]
#     basic_names["gen_cost_BIKE"] = ['gen_cost_BIKE']
    
#     basic_specification["gen_cost_CAR"] = [list(set(range(1000,3547,1)) - set(list_1)) ]
#     basic_names["gen_cost_CAR"] = ['gen_cost_CAR']
    
#     basic_specification["gen_cost_DRIVE_TRANSIT"] = [list(set(range(1000,3547,1)) - set(list_1)) ]
#     basic_names["gen_cost_DRIVE_TRANSIT"] = ['gen_cost_DRIVE_TRANSIT']
    
#     basic_specification["gen_cost_RIDE_HAIL"] = [list(set(range(1000,3547,1)) - set(list_1)) ]
#     basic_names["gen_cost_RIDE_HAIL"] = ['gen_cost_RIDE_HAIL']
    
#     basic_specification["gen_cost_RIDE_HAIL_POOLED"] = [list(set(range(1000,3547,1)) - set(list_1)) ]
#     basic_names["gen_cost_RIDE_HAIL_POOLED"] = ['gen_cost_RIDE_HAIL_POOLED']
    
#     basic_specification["gen_cost_RIDE_HAIL_TRANSIT"] = [list(set(range(1000,3547,1)) - set(list_1)) ]
#     basic_names["gen_cost_RIDE_HAIL_TRANSIT"] = ['gen_cost_RIDE_HAIL_TRANSIT']
    
#     basic_specification["gen_cost_WALK"] = [list(set(range(1000,3547,1)) - set(list_1)) ]
#     basic_names["gen_cost_WALK"] = ['gen_cost_WALK']
    
#     basic_specification["gen_cost_WALK_TRANSIT"] = [list(set(range(1000,3547,1)) - set(list_1)) ]
#     basic_names["gen_cost_WALK_TRANSIT"] = ['gen_cost_WALK_TRANSIT']
    
    #Distance
    data_long['np.log1p(dist)'] = np.log1p(data_long.dist/1000)
    
    basic_specification["np.log1p(dist)"] = [list(set(range(1000,3547,1)) - set(list_1)) ]
    basic_names["np.log1p(dist)"] = ['np.log1p(dist)']
    
#     basic_specification["dist"] = [list(set(range(1000,3547,1)) - set(list_1)) ]
#     basic_names["dist"] = ['Distance']
    
    #Rank
    basic_specification["rank"] = [list(set(range(1000,2828,1)) -set([1459, 1685, 1746, 1749, 1750, 2006, 2063, 2327, 2662, 2679]))]
    basic_names["rank"] = ['School Rank'] 
    
    #Income
#     data_long['gen_cost_CAR:hh_inc_under_25k'] = data_long['gen_cost_CAR'] * data_long['hh_inc_under_25k']
#     data_long['gen_cost_CAR:hh_inc_25_to_75k'] = data_long['gen_cost_CAR'] * data_long['hh_inc_25_to_75k']
#     data_long['gen_cost_CAR:hh_inc_75_to_200k'] = data_long['gen_cost_CAR'] * data_long['hh_inc_75_to_200k']
    
#     basic_specification['gen_cost_CAR:hh_inc_under_25k'] = [list(set(range(1000,3547,1)) - set(list_1)) ]
#     basic_names['gen_cost_CAR:hh_inc_under_25k'] = ['gen_cost_CAR:hh_inc_under_25k'] 
    
#     basic_specification['gen_cost_CAR:hh_inc_25_to_75k'] = [list(set(range(1000,3547,1)) - set(list_1)) ]
#     basic_names['gen_cost_CAR:hh_inc_25_to_75k'] = ['gen_cost_CAR:hh_inc_25_to_75k'] 
    
#     basic_specification['gen_cost_CAR:hh_inc_75_to_200k'] = [list(set(range(1000,3547,1)) - set(list_1)) ]
#     basic_names['gen_cost_CAR:hh_inc_75_to_200k'] = ['gen_cost_CAR:hh_inc_75_to_200k'] 
    
    #SameCity
    basic_specification['same_city?'] = [list(set(range(1000,2828,1)) -set([1459, 1685, 1746, 1749, 1750, 2006, 2063, 2327, 2662, 2679]))]
    basic_names['same_city?'] = ['same_city?']  
    
    #Interaction terms
    data_long['np.log1p(dist):np.log1p(gen_tt_CAR)'] = data_long['np.log1p(dist)'] * data_long["np.log1p(gen_tt_CAR)"]
    basic_specification['np.log1p(dist):np.log1p(gen_tt_CAR)'] = [list(set(range(1000,3547,1)) - set(list_1)) ]
    basic_names['np.log1p(dist):np.log1p(gen_tt_CAR)'] = ['np.log1p(dist):np.log1p(gen_tt_CAR)']
    
    #School rank and income
    
    data_long['rank_1_4'] = data_long['rank'].apply(lambda x: 1 if x<=4 else 0)
    data_long['rank_5_7'] = data_long['rank'].apply(lambda x: 1 if (x>4) & (x<=7) else 0)
    data_long['rank_8_9'] = data_long['rank'].apply(lambda x: 1 if x>7 else 0)
    
#     data_long['rank_5_7:hh_inc_under_25k'] = data_long['rank_5_7'] * data_long['hh_inc_under_25k']
#     data_long['rank_8_9:hh_inc_under_25k'] = data_long['rank_8_9'] * data_long['hh_inc_under_25k']
    
#     data_long['rank_5_7:hh_inc_25_to_75k'] = data_long['rank_5_7'] * data_long['hh_inc_25_to_75k']
#     data_long['rank_8_9:hh_inc_25_to_75k'] = data_long['rank_8_9'] * data_long['hh_inc_25_to_75k']
    
#     data_long['rank_5_7:hh_inc_75_to_200k'] = data_long['rank_5_7'] * data_long['hh_inc_75_to_200k']
#     data_long['rank_8_9:hh_inc_75_to_200k'] = data_long['rank_8_9'] * data_long['hh_inc_75_to_200k']
    
#     basic_specification['rank_5_7:hh_inc_under_25k'] = [list(set(range(1000,3547,1)) - set(list_1)) ]
#     basic_specification['rank_8_9:hh_inc_under_25k'] = [list(set(range(1000,3547,1)) - set(list_1)) ]
#     basic_specification['rank_5_7:hh_inc_25_to_75k'] = [list(set(range(1000,3547,1)) - set(list_1)) ]
#     basic_specification['rank_8_9:hh_inc_25_to_75k'] = [list(set(range(1000,3547,1)) - set(list_1)) ]
#     basic_specification['rank_5_7:hh_inc_75_to_200k'] = [list(set(range(1000,3547,1)) - set(list_1)) ]
#     basic_specification['rank_8_9:hh_inc_75_to_200k'] = [list(set(range(1000,3547,1)) - set(list_1)) ]
    
#     basic_names['rank_5_7:hh_inc_under_25k'] = ['rank_5_7:hh_inc_under_25k'] 
#     basic_names['rank_8_9:hh_inc_under_25k'] = ['rank_8_9:hh_inc_under_25k'] 
#     basic_names['rank_5_7:hh_inc_25_to_75k'] = ['rank_5_7:hh_inc_25_to_75k'] 
#     basic_names['rank_8_9:hh_inc_25_to_75k'] = ['rank_8_9:hh_inc_25_to_75k'] 
#     basic_names['rank_5_7:hh_inc_75_to_200k'] = ['rank_5_7:hh_inc_75_to_200k'] 
#     basic_names['rank_8_9:hh_inc_75_to_200k'] = ['rank_8_9:hh_inc_75_to_200k'] 
    
    data_long['rank:hh_inc_under_25k'] = data_long['rank'] * data_long['hh_inc_under_25k']
    data_long['rank:hh_inc_25_to_75k'] = data_long['rank'] * data_long['hh_inc_25_to_75k']
    data_long['rank:hh_inc_75_to_200k'] = data_long['rank'] * data_long['hh_inc_75_to_200k']   
    
    
    basic_specification['rank:hh_inc_under_25k'] = [list(set(range(1000,3547,1)) - set(list_1)) ]
    basic_names['rank:hh_inc_under_25k'] = ['rank:hh_inc_under_25k'] 
    
    basic_specification['rank:hh_inc_25_to_75k'] = [list(set(range(1000,3547,1)) - set(list_1)) ]
    basic_names['rank:hh_inc_25_to_75k'] = ['rank:hh_inc_25_to_75k'] 
    
    basic_specification['rank:hh_inc_75_to_200k'] = [list(set(range(1000,3547,1)) - set(list_1)) ]
    basic_names['rank:hh_inc_75_to_200k'] = ['rank:hh_inc_75_to_200k']   
    
    #Same city and distance
    data_long['np.log1p(dist):sameCity'] = data_long['np.log1p(dist)'] * data_long['same_city?']
    basic_specification['np.log1p(dist):sameCity'] = [list(set(range(1000,3547,1)) - set(list_1)) ]
    basic_names['np.log1p(dist):sameCity'] = ['np.log1p(dist):sameCity'] 
    
#     #Distance and family income 
#     data_long['dist:hh_inc_under_25k'] = data_long['dist'] * data_long['hh_inc_under_25k']
#     data_long['dist:hh_inc_25_to_75k'] = data_long['dist'] * data_long['hh_inc_25_to_75k']
#     data_long['dist:hh_inc_75_to_200k'] = data_long['dist'] * data_long['hh_inc_75_to_200k']
    
#     basic_specification['dist:hh_inc_under_25k'] = [list(set(range(1000,3547,1)) - set(list_1)) ]
#     basic_names['dist:hh_inc_under_25k'] = ['dist:hh_inc_under_25k']
    
#     basic_specification['dist:hh_inc_25_to_75k'] = [list(set(range(1000,3547,1)) - set(list_1)) ]
#     basic_names['dist:hh_inc_25_to_75k'] = ['dist:hh_inc_25_to_75k']
    
#     basic_specification['dist:hh_inc_75_to_200k'] = [list(set(range(1000,3547,1)) - set(list_1)) ]
#     basic_names['dist:hh_inc_75_to_200k'] = ['dist:hh_inc_75_to_200k']

    data_long['np.log1p(dist):rank_1_4'] = data_long['np.log1p(dist)'] * data_long['rank_1_4']
    data_long['np.log1p(dist):rank_5_7'] = data_long['np.log1p(dist)'] * data_long['rank_5_7']
    data_long['np.log1p(dist):rank_8_9'] = data_long['np.log1p(dist)'] * data_long['rank_8_9']
    
#     basic_specification['np.log1p(dist):rank_1_4'] = [list(set(range(1000,3547,1)) - set(list_1)) ]
#     basic_names['np.log1p(dist):rank_1_4'] = ['np.log1p(dist):rank_1_4'] 
    
    basic_specification['np.log1p(dist):rank_5_7'] = [list(set(range(1000,3547,1)) - set(list_1)) ]
    basic_names['np.log1p(dist):rank_5_7'] = ['np.log1p(dist):rank_5_7'] 
    
    basic_specification['np.log1p(dist):rank_8_9'] = [list(set(range(1000,3547,1)) - set(list_1)) ]
    basic_names['np.log1p(dist):rank_8_9'] = ['np.log1p(dist):rank_8_9'] 
    

    # Estimate the nested multinomial logit model (MNL)
    SLCM = pl.create_choice_model(data = data_long,
                                        alt_id_col = 'school_choice_set',
                                        obs_id_col = 'obs_id',
                                        choice_col = 'choice',
                                        specification = basic_specification,
                                        model_type="Nested Logit",
                                        names=basic_names,
                                        nest_spec=nest_membership)

    # Specify the initial values and method for the optimization.
    SLCM.fit_mle(np.zeros(13),constrained_pos=[0])
        
    #Resutls
    return SLCM

In [57]:
unique_alternatives = np.sort(data_long['school_choice_set'].unique())
unique_alternatives

array([1000, 1001, 1002, ..., 3544, 3545, 3546])

In [63]:
len(data_long.obs_id.unique())

2875

In [41]:
orca.get_injectable('SLCM')(data_long).get_statsmodels_summary().add_table_params

Log-likelihood at zero: -11,789.9798
Initial Log-likelihood: -11,789.9798
Estimation Time for Point Estimation: 3.31 minutes.
Final log-likelihood: -7,201.8418

<bound method Summary.add_table_params of <class 'statsmodels.iolib.summary.Summary'>
"""
                    Nested Logit Model Regression Results
==============================================================================
Dep. Variable:                 choice   No. Observations:                2,875
Model:             Nested Logit Model   Df Residuals:                    2,862
Method:                           MLE   Df Model:                           13
Date:                Wed, 24 Jul 2019   Pseudo R-squ.:                   0.389
Time:                        10:31:52   Pseudo R-bar-squ.:               0.388
AIC:                       14,429.684   Log-Likelihood:             -7,201.842
BIC:                       14,507.213   LL-Null:                   -11,789.980
=======================================================================================================
                                          coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------------------
Public School                                0        nan        nan        nan         nan         nan
Private School                          0.7217      0.124      5.797      0.000       0.478       0.966
np.log1p(gen_tt_CAR)                   -0.2040      0.054     -3.766      0.000      -0.310      -0.098
np.log1p(dist)                         -1.3147      0.083    -15.785      0.000      -1.478      -1.151
School Rank                             0.2252      0.014     16.578      0.000       0.199       0.252
same_city?                              0.4271      0.060      7.060      0.000       0.309       0.546
np.log1p(dist):np.log1p(gen_tt_CAR)     0.1041      0.028      3.760      0.000       0.050       0.158
rank:hh_inc_under_25k                  -0.2082      0.021     -9.965      0.000      -0.249      -0.167
rank:hh_inc_25_to_75k                  -0.2081      0.017    -12.366      0.000      -0.241      -0.175
rank:hh_inc_75_to_200k                 -0.0518      0.015     -3.364      0.001      -0.082      -0.022
np.log1p(dist):sameCity                 0.2352      0.032      7.313      0.000       0.172       0.298
np.log1p(dist):rank_5_7                -0.1895      0.035     -5.474      0.000      -0.257      -0.122
np.log1p(dist):rank_8_9                -0.1527      0.046     -3.321      0.001      -0.243      -0.063
=======================================================================================================
""">

In [ ]:
## Final-ll record 

# -7,965.2369 Wiht np.log1p
# -8,129.6396 without np.log1p
# -7,947.6792 with np.log1p in car cost
# -7,935.404
# -7,640.791 Adding Same city Same city For all public and private
# -7,513.121 Same city for only public schools
# -7,273.447 Interaction terms (distance:tt_car) (rank:Income)
# -7,261.701 Intercation (dist:SameCity)
# -7,264.1362 Deleting p-values > 0.05
# -7,233.017 Log1p distance transformation
# -7,227.987 Distance and family income (Excluded)
# -7,215.6650 Distance and school rank
# -7,214.3486 scale distances from meters to km
# -7,220.9058 Excluding distance and rank
# -7,215.3930 Adding gen cost varaibles [Do not include any]
# -7,222.265 Deleting tt_WALK_TRANSIT
# -7,201.830 Adding log distnace and school rank (1-4 rank as base)
# -7,201.842 Deleting tt_WALK

In [42]:
model_object = orca.get_injectable('SLCM')(data_long)

Log-likelihood at zero: -11,789.9798
Initial Log-likelihood: -11,789.9798
Estimation Time for Point Estimation: 3.24 minutes.
Final log-likelihood: -7,201.8418

In [43]:
#Creating a pkl file
file_Name = "/home/juan/activitysynth/activitysynth/configs/SLCM_gen_tt.pkl"
fileObject = open(file_Name,'wb') 
dill.dump(model_object,fileObject)   
fileObject.close()

In [44]:
#Testing pkl file
fileObject = open(file_Name,'rb')  
# load the object from the file into var b
b = pickle.load(fileObject)  
b.get_statsmodels_summary().add_table_params

<bound method Summary.add_table_params of <class 'statsmodels.iolib.summary.Summary'>
"""
                    Nested Logit Model Regression Results
==============================================================================
Dep. Variable:                 choice   No. Observations:                2,875
Model:             Nested Logit Model   Df Residuals:                    2,862
Method:                           MLE   Df Model:                           13
Date:                Wed, 24 Jul 2019   Pseudo R-squ.:                   0.389
Time:                        10:35:26   Pseudo R-bar-squ.:               0.388
AIC:                       14,429.684   Log-Likelihood:             -7,201.842
BIC:                       14,507.213   LL-Null:                   -11,789.980
=======================================================================================================
                                          coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------------------
Public School                                0        nan        nan        nan         nan         nan
Private School                          0.7217      0.124      5.797      0.000       0.478       0.966
np.log1p(gen_tt_CAR)                   -0.2040      0.054     -3.766      0.000      -0.310      -0.098
np.log1p(dist)                         -1.3147      0.083    -15.785      0.000      -1.478      -1.151
School Rank                             0.2252      0.014     16.578      0.000       0.199       0.252
same_city?                              0.4271      0.060      7.060      0.000       0.309       0.546
np.log1p(dist):np.log1p(gen_tt_CAR)     0.1041      0.028      3.760      0.000       0.050       0.158
rank:hh_inc_under_25k                  -0.2082      0.021     -9.965      0.000      -0.249      -0.167
rank:hh_inc_25_to_75k                  -0.2081      0.017    -12.366      0.000      -0.241      -0.175
rank:hh_inc_75_to_200k                 -0.0518      0.015     -3.364      0.001      -0.082      -0.022
np.log1p(dist):sameCity                 0.2352      0.032      7.313      0.000       0.172       0.298
np.log1p(dist):rank_5_7                -0.1895      0.035     -5.474      0.000      -0.257      -0.122
np.log1p(dist):rank_8_9                -0.1527      0.046     -3.321      0.001      -0.243      -0.063
=======================================================================================================
""">

In [69]:
# #Coding for simulation (stand by)
# a = model_object.predict(data_long)
# final = pd.DataFrame({'chosen_school': data_long['school_choice_set'], 'obs_id': data_long['obs_id'], 'probability' : a})

# # Assigning the school with the grates probability
# b =final.sort_values('probability', ascending= False).drop_duplicates(['obs_id'])

In [35]:
#Example


@orca.injectable(autocall=False)
def SLCM(data_long):
    # Specify the nested structure
    public_schools_list = list(range(1000,2828,1))
    private_school_list = list(range(2828,3547,1))
    schools_list = list(range(1000,3547,1))
    nest_membership = OrderedDict()
    nest_membership["Public School"] = public_schools_list
    nest_membership["Private School"] = private_school_list
    
    
    #Model especification
    basic_specification = OrderedDict()
    basic_names = OrderedDict()
    
    # Travel time
    data_long["np.log1p(gen_tt_CAR)"] = np.log1p(data_long['gen_tt_CAR'])
    basic_specification["np.log1p(gen_tt_CAR)"] = [schools_list]
    basic_names["np.log1p(gen_tt_CAR)"] = ["np.log1p(gen_tt_CAR)"]
    
#     #Distance
#     data_long['np.log1p(dist)'] = np.log1p(data_long.dist/1000)
#     basic_specification["np.log1p(dist)"] = [list(set(range(1000,3547,1)) - set(list_1)) ]
#     basic_names["np.log1p(dist)"] = ['np.log1p(dist)']
    
#     #Rank
#     basic_specification["rank"] = [list(set(range(1000,2828,1)) -set([1459, 1685, 1746, 1749, 1750, 2006, 2063, 2327, 2662, 2679]))]
#     basic_names["rank"] = ['School Rank'] 
    
#     #SameCity
#     basic_specification['same_city?'] = [list(set(range(1000,2828,1)) -set([1459, 1685, 1746, 1749, 1750, 2006, 2063, 2327, 2662, 2679]))]
#     basic_names['same_city?'] = ['same_city?']  
    
#     #Interaction terms
#     data_long['np.log1p(dist):np.log1p(gen_tt_CAR)'] = data_long['np.log1p(dist)'] * data_long["np.log1p(gen_tt_CAR)"]
#     basic_specification['np.log1p(dist):np.log1p(gen_tt_CAR)'] = [list(set(range(1000,3547,1)) - set(list_1)) ]
#     basic_names['np.log1p(dist):np.log1p(gen_tt_CAR)'] = ['np.log1p(dist):np.log1p(gen_tt_CAR)']
    
#     #School rank and income
    
#     data_long['rank_1_4'] = data_long['rank'].apply(lambda x: 1 if x<=4 else 0)
#     data_long['rank_5_7'] = data_long['rank'].apply(lambda x: 1 if (x>4) & (x<=7) else 0)
#     data_long['rank_8_9'] = data_long['rank'].apply(lambda x: 1 if x>7 else 0)
    
#     data_long['rank:hh_inc_under_25k'] = data_long['rank'] * data_long['hh_inc_under_25k']
#     data_long['rank:hh_inc_25_to_75k'] = data_long['rank'] * data_long['hh_inc_25_to_75k']
#     data_long['rank:hh_inc_75_to_200k'] = data_long['rank'] * data_long['hh_inc_75_to_200k']   
    
    
#     basic_specification['rank:hh_inc_under_25k'] = [list(set(range(1000,3547,1)) - set(list_1)) ]
#     basic_names['rank:hh_inc_under_25k'] = ['rank:hh_inc_under_25k'] 
    
#     basic_specification['rank:hh_inc_25_to_75k'] = [list(set(range(1000,3547,1)) - set(list_1)) ]
#     basic_names['rank:hh_inc_25_to_75k'] = ['rank:hh_inc_25_to_75k'] 
    
#     basic_specification['rank:hh_inc_75_to_200k'] = [list(set(range(1000,3547,1)) - set(list_1)) ]
#     basic_names['rank:hh_inc_75_to_200k'] = ['rank:hh_inc_75_to_200k']   
    
#     #Same city and distance
#     data_long['np.log1p(dist):sameCity'] = data_long['np.log1p(dist)'] * data_long['same_city?']
#     basic_specification['np.log1p(dist):sameCity'] = [list(set(range(1000,3547,1)) - set(list_1)) ]
#     basic_names['np.log1p(dist):sameCity'] = ['np.log1p(dist):sameCity'] 

#     data_long['np.log1p(dist):rank_1_4'] = data_long['np.log1p(dist)'] * data_long['rank_1_4']
#     data_long['np.log1p(dist):rank_5_7'] = data_long['np.log1p(dist)'] * data_long['rank_5_7']
#     data_long['np.log1p(dist):rank_8_9'] = data_long['np.log1p(dist)'] * data_long['rank_8_9']
    
    
#     basic_specification['np.log1p(dist):rank_5_7'] = [list(set(range(1000,3547,1)) - set(list_1)) ]
#     basic_names['np.log1p(dist):rank_5_7'] = ['np.log1p(dist):rank_5_7'] 
    
#     basic_specification['np.log1p(dist):rank_8_9'] = [list(set(range(1000,3547,1)) - set(list_1)) ]
#     basic_names['np.log1p(dist):rank_8_9'] = ['np.log1p(dist):rank_8_9'] 
    

    # Estimate the nested multinomial logit model (MNL)
    SLCM = pl.create_choice_model(data = data_long,
                                        alt_id_col = 'school_choice_set',
                                        obs_id_col = 'obs_id',
                                        choice_col = 'choice',
                                        specification = basic_specification,
                                        model_type="Nested Logit",
                                        names=basic_names,
                                        nest_spec=nest_membership)

    # Specify the initial values and method for the optimization.
    SLCM.fit_mle(np.zeros(13),constrained_pos=[0])
        
    #Resutls
    return SLCM

In [36]:
orca.get_injectable('SLCM')(data_long).get_statsmodels_summary().add_table_params

ValueError: The following elements are not in df[alt_id_col]: [1459, 1685, 1746, 1749, 1750, 2006, 2063, 2327, 2662, 2679, 3378, 3379, 3381, 3432, 3454]

In [38]:
non_schools = [1459, 1685, 1746, 1749, 1750, 2006, 2063, 2327, 2662, 2679, 3378, 3379, 3381, 3432, 3454]
schools[schools.school_id.isin(non_schools)]

,CDSCode,School,District,County,Street,City,Zip,State,Latitude,Longitude,...,sw_rank_2017,sw_rank_2016,ss_rank_2018_,ss_rank_2017,ss_rank_2016,school_parcel_id,school_id,list_grades,school_node_id,school_zone_id
459,7616630130930,Vista Oaks Charter,Byron Union Elementary,Contra Costa,"315 South Lower Sacramento, Suite A",Lodi,95242-3322,CA,38.129698,-121.306580,...,1.0,1.0,NaN,2.0,1.0,670515,1459,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]",91014864,1181
685,21653006024137,Bolinas-Stinson Elementary,Bolinas-Stinson Union,Marin,125 Olema-Bolinas Road,Bolinas,94924-9747,CA,37.909873,-122.688120,...,8.0,9.0,NaN,1.0,9.0,836607,1685,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0]",110393241,1454
746,21733610129510,Special Education Pre-School,Shoreline Unified,Marin,40 John Street,Tomales,94971,CA,38.245707,-122.902270,...,NaN,NaN,NaN,NaN,NaN,794851,1746,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",110388683,1415
749,21733616024947,Inverness Elementary,Shoreline Unified,Marin,BayView and Mesa,Inverness,94937,CA,38.098470,-122.855860,...,NaN,NaN,NaN,NaN,NaN,795907,1749,"[1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",317877625,1416
750,21733616024954,West Marin Elementary,Shoreline Unified,Marin,11550 Highway 1,Point Reyes Station,94956-0300,CA,38.070257,-122.804760,...,7.0,7.0,NaN,9.0,10.0,797166,1750,"[0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0]",110411341,1415
1006,41689406044085,Pescadero Elementary and Middle,La Honda-Pescadero Unified,San Mateo,620 North Street,Pescadero,94060,CA,37.256093,-122.377920,...,4.0,5.0,NaN,9.0,9.0,1218932,2006,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0]",2451096843,297
1063,41690390123497,San Mateo-Foster City Special Education Preschool,San Mateo-Foster City,San Mateo,1170 Chess Drive,Foster City,94404-1107,CA,37.566161,-122.273480,...,NaN,NaN,NaN,NaN,NaN,1227193,2063,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",33220315,266
1327,43695006093058,C. T. English Middle,Loma Prieta Joint Union Elementary,Santa Clara,23800 Summit Road,Los Gatos,95033-4054,CA,37.124979,-121.938440,...,10.0,10.0,NaN,9.0,8.0,1596005,2327,"[0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0]",317343565,512
1662,49706564930848,Johanna Echols-Hansen High (Continuation),Cloverdale Unified,Sonoma,322 North Washington Street,Cloverdale,95425-3235,CA,38.807152,-123.021020,...,NaN,NaN,NaN,NaN,NaN,1866699,2662,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1]",56031926,1402
1679,49707220138248,Guerneville Primary,Guerneville Elementary,Sonoma,14630 Armstrong Woods Road,Guerneville,95446-9576,CA,38.510022,-122.997590,...,NaN,NaN,NaN,NaN,NaN,1956108,2679,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",56033492,1391
2378,43733876904791,Milpitas Foothill Seventh-day,Milpitas Unified,Santa Clara,1991 Landess Avenue,Milpitas,95035,CA,37.435510,-121.696744,...,NaN,NaN,NaN,NaN,NaN,1277597,3378,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0]",65390336,714
2379,43733877094600,Milpitas Montessori School,Milpitas Unified,Santa Clara,1500 Yosemite Drive,Milpitas,95035,CA,37.435510,-121.696744,...,NaN,NaN,NaN,NaN,NaN,1277597,3379,"[1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",65390336,714
2381,43733876151260,Monarch Christian Academy,Milpitas Unified,Santa Clara,136 Piedmont Road,Milpitas,95035,CA,37.435510,-121.696744,...,NaN,NaN,NaN,NaN,NaN,1277597,3381,"[1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0]",65390336,714
2432,43733877028806,St. John the Baptist Catholic,Milpitas Unified,Santa Clara,360 South Abel Street,Milpitas,95035,CA,37.435510,-121.696744,...,NaN,NaN,NaN,NaN,NaN,1277597,3432,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0]",65390336,714
2454,43733876152201,Stratford School,Milpitas Unified,Santa Clara,341 Great Mall Parkway,Milpitas,95035,CA,37.435510,-121.696744,...,NaN,NaN,NaN,NaN,NaN,1277597,3454,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0]",65390336,714