In [253]:
import numpy as np
import pandas as pd
import orca
import os; os.chdir('../')
import warnings; warnings.simplefilter('ignore')
from urbansim.utils import misc
import pandana as pdna
from collections import OrderedDict
    
from urbansim_templates import modelmanager as mm
from urbansim_templates.models import LargeMultinomialLogitStep
import pandas as pd
import orca
import os; os.chdir('/home/juan/activitysynth/activitysynth/')
import warnings; warnings.simplefilter('ignore')
from matplotlib import pyplot as plt
import matplotlib.animation as animation
import seaborn as sns
from sklearn.neighbors import BallTree

import pylogit as pl                   # For choice model estimation
from pylogit import nested_logit as nl # For nested logit convenience funcs

# from scripts import datasources, models, variables, utils

In [2]:
os.getcwd()

'/home/juan/activitysynth/activitysynth'

In [10]:
from scripts import datasources, models, variables, utils

In [11]:
import urbansim_templates
urbansim_templates.__version__

'0.1.1'

In [12]:
input_file_format = 'csv'
input_data_dir = '/home/data/spring_2019/base/'

# estimate from base-year data
formattable_fname_dict = {
    'parcels': 'parcels.{0}',
    'buildings': 'buildings.{0}',
    'jobs': 'jobs.{0}',
    'establishments': 'establishments.{0}',
    'households': 'households.{0}',
    'persons': 'persons.{0}',
    'rentals': 'MTC_craigslist_listings_7-10-18.{0}',
    'units': 'units.{0}',
    'skims': 'mtc_skims.{0}',
    'beam_skims': '30.skims-smart-23April2019-baseline.csv.gz',
    'drive_nodes': 'bay_area_tertiary_strongly_nodes.{0}',
    'drive_edges': 'bay_area_tertiary_strongly_edges.{0}',
    'drive_access_vars': 'drive_net_vars.{0}',
    'walk_nodes': 'bayarea_walk_nodes.{0}',
    'walk_edges': 'bayarea_walk_edges.{0}',
    'walk_access_vars': 'walk_net_vars.{0}',
    'zones': 'zones.{0}',
    'zone_access_vars': 'zones_w_access_vars.{0}',
}

def format_fname_dict(formattable_fname_dict, format='csv'):
    formatted_dict = {
        k: v.format('csv')
        for k, v in formattable_fname_dict.items()}
    return formatted_dict

input_fnames = format_fname_dict(
            formattable_fname_dict, input_file_format)

In [13]:
orca.add_injectable('input_file_format', input_file_format)
orca.add_injectable('input_data_dir', input_data_dir)
orca.add_injectable('input_fnames', input_fnames)
orca.add_injectable('store', None)

In [15]:
# os.listdir("/home/data/fall_2018/HWtrips_032319.csv")

# Loading data

In [16]:
orca.run(['initialize_network_small']) 
orca.run([ 'initialize_network_walk']) 
orca.run(['impute_missing_skims'])

Running step 'initialize_network_small'
Time to execute step 'initialize_network_small': 0.00 s
Total time to execute iteration 1 with iteration value None: 0.00 s
Running step 'initialize_network_walk'
Time to execute step 'initialize_network_walk': 0.00 s
Total time to execute iteration 1 with iteration value None: 0.00 s
Running step 'impute_missing_skims'
Time to execute step 'impute_missing_skims': 98.92 s
Total time to execute iteration 1 with iteration value None: 98.92 s

In [408]:
#Loading Data 
beam_skims = orca.get_table('beam_skims').to_frame()
reset_beam_skims = beam_skims.reset_index()

students = pd.read_csv('/home/juan/ual_model_workspace/spring-2019-models/notebooks-juan/students_with_school_id.csv')
schools = pd.read_csv('/home/juan/ual_model_workspace/spring-2019-models/notebooks-juan/schools.csv').rename({"parcel_id": "school_parcel_id"}, axis=1)
parcels = orca.get_table('parcels').to_frame()
household_chts = pd.read_csv("/home/data/fall_2018/CHTS_csv_format/data/Deliv_HH.csv")

## Preprocessing

In [409]:
#Small netwrok 
nodessmall = pd.read_csv('/home/data/fall_2018/bay_area_tertiary_strongly_nodes.csv').set_index('osmid')
edgessmall = pd.read_csv('/home/data/fall_2018/bay_area_tertiary_strongly_edges.csv')
netsmall = pdna.Network(nodessmall.x, nodessmall.y, edgessmall.u,
                                edgessmall.v, edgessmall[['length']],
                                twoway=False)
netsmall.precompute(25000)

#Making sure x and y coordinates are type float
students['x_cor'] = students.HXCORD.astype(float)
students['y_cor'] = students.HYCORD.astype(float)

schools['Latitude'] = schools['Latitude'].astype(float)
schools['Longitude'] = schools['Longitude'].astype(float)

#Adding list of grades offered by each school
list_grades = []
for index, row in schools.loc[:,schools.columns.str.startswith("grade_")].iterrows():
    x = np.array(row)
    list_grades.append(x)
    
schools['list_grades'] = list_grades

#Filtering students by age
students = students[students.AGE <= 18]

In [410]:
#Some spatial functions 

def node_id_small(x, y, netsmall):
    """ Return the node ID given a pair of coordinates"""
    idssmall = netsmall.get_node_ids(x, y)
    return idssmall

def parcel_id(data):
    ''' Assigns a parcel ID given a x and y coordinate
    Input: DataFrame with x and y coordinates
    Output: Array-like Parcel_ID'''
    #Transforming Latitude/Longitude to radians
    parcels_rad = np.deg2rad(parcels[['y', 'x']])
    data_rad = np.deg2rad(data)
    
    tree = BallTree(parcels_rad, metric='haversine')
    
    dists, idxs = tree.query(data_rad, return_distance=True)
    
    return parcels.iloc[idxs[:,0]].index

def get_zone_id(parcel_id):
    '''gets the zone_id (TAZ) of school and home locations by the parcel id'''
    try: 
        parcel_id = list(parcels.loc[parcel_id,'zone_id'])

    except Exception as e:
        parcel_id = np.nan
        
    return parcel_id

In [411]:
# Adding spatial information to schools and students dataframes

#Node_ID
students['home_node_id'] = node_id_small(students.x_cor, students.y_cor, netsmall)
schools['school_node_id'] = node_id_small(schools.Longitude, schools.Latitude, netsmall)

#Parcel_ID
students['home_parcel_id'] = parcel_id(students[['y_cor', 'x_cor']])
schools['school_parcel_id'] = parcel_id(schools[['Latitude', 'Longitude']])

#Zone-ID
students['home_zone_id'] = get_zone_id(students['home_parcel_id'])
schools['school_zone_id'] = get_zone_id(schools['school_parcel_id'])

#Adding household income for each individual 
students = students.merge(household_chts.loc[:,['SAMPN', 'INCOM']], how = 'left', on = 'SAMPN')

#Creates 3 dummies for income

students['hh_inc_under_25k'] = (students['INCOM'] < 3).astype(int)
students['hh_inc_25_to_75k'] = ((students['INCOM'] > 2) & (students['INCOM'] < 6)).astype(int)
students['hh_inc_75_to_200k'] = ((students['INCOM'] > 5) & (students['INCOM'] < 9)).astype(int)

## Defining Choice set constrains

In [412]:
#Merging students and schools 
students_1 = students.merge(schools, how = 'left', on = 'school_id')

# Droping students with no assigned school
students_1 = students_1.dropna(subset=['school_id'])

In [413]:
#Define the node ID for each home and school location in students dataset
students_1['node_id_home'] = node_id_small(students_1.HXCORD, students_1.HYCORD, netsmall)
students_1['node_id_school'] = node_id_small(students_1.Longitude, students_1.Latitude, netsmall)

#Creating a df for public shcools only
df_public = students_1[students_1.school_id <= 2827].loc[:,['SAMPN', 'PERNO', 'school_id',
                                                        'AGE','HCITY','HYCORD','HXCORD',
                                                        'SNAME_lookup','SCITY_lookup', 
                                                        'node_id_home', 'node_id_school']]

#Creating a df for private shcools only
df_private = students_1[students_1.school_id > 2827].loc[:,['SAMPN', 'PERNO', 'school_id',
                                                        'AGE','HCITY','HYCORD','HXCORD',
                                                        'SNAME_lookup','SCITY_lookup', 
                                                        'node_id_home', 'node_id_school']]

In [414]:
#Setting public and private schools as POIs. 
netsmall.set_pois('public_school', 500000, 10000, 
                  schools[schools.type == 'public'].Longitude, 
                  schools[schools.type == 'public'].Latitude, )

netsmall.set_pois('private_school', 500000, 10000, 
                  schools[schools.type == 'private'].Longitude, 
                  schools[schools.type == 'private'].Latitude)

In [415]:
#Public schools. 95% of the time, the school is within the x's closest schools. Finding x
n =50

# n closest public schools per each node in netsmall
distance_matrix_public = netsmall.nearest_pois(200000, 
                                               'public_school', 
                                               num_pois=n,
                                               include_poi_ids=True)

# Selects POIS id's only 
public_nodes = distance_matrix_public.iloc[:,n:]

# Creates a list of n closest POIs for each node
list_values = []
for index, row in public_nodes.iterrows():
    x = np.array(row)
    x = x[~np.isnan(x)]
    list_values.append(x)

#Add created list to public nodes 
public_nodes['list_values'] = list_values


merge = df_public.merge(public_nodes.loc[:,['list_values']], how = 'left', left_on = 'node_id_home', right_index= True)

school_position = []
for index, row in merge.iterrows():
    school_position.append(np.isin(row['school_id']-1000,row['list_values'])==True)
    
merge['school_position'] = school_position

merge.school_position.mean()

0.9131504922644164

In [416]:
#Private schools. 95% of the time, the school is within the x's closest schools. Finding x
n =100

distance_matrix_private = netsmall.nearest_pois(100000, 
                                                'private_school', 
                                                num_pois=n, 
                                                include_poi_ids=True)

private_nodes = distance_matrix_private.iloc[:,n:]

list_values = []
for index, row in private_nodes.iterrows():
    x = np.array(row)
    x = x[~np.isnan(x)]
    list_values.append(x)
    
private_nodes['list_values'] = list_values


merge = df_private.merge(private_nodes.loc[:,['list_values']], how = 'left', left_on = 'node_id_home', right_index= True)

school_position = []
for index, row in merge.iterrows():
    school_position.append(np.isin(row['school_id']-1000,row['list_values'])==True)
    
merge['school_position'] = school_position

merge.school_position.mean()

0.8758465011286681

## Getting data_long table

In [417]:
def school_available(age, grades_offered):
    """ Checks if a school offers a grade according to the age range
    Input: Age: int in range (5-18)
           grades_offered: 13 element array
    Output: True if grade if offered acoording to age, false otherwise. 
     """
    index = age - 6
    
    if index < 0:
        index = 0

    if index < 12:
        result = (grades_offered[index] == 1) | (grades_offered[index + 1] == 1)
        
    elif index == 12:
        result = (grades_offered[index] == 1)
    
    return result

In [418]:
def school_choice_set(house_node_id, kid_age):
    """ Determines the school choice set given home node id and age of the student (4-18)
    Output: Pandas series with available school IDs"""
    
    public_id = distance_matrix_public.iloc[:,50:].loc[house_node_id] + 1000
    private_id = distance_matrix_private.iloc[:,100:].loc[house_node_id] + 1000
    schools_filter = pd.concat([public_id, private_id])
    schools_set = schools[schools.school_id.isin(schools_filter)]
    school_availability = [school_available(kid_age, x) for x in schools_set.list_grades]
    try:
        schools_available = schools_set[school_availability].school_id
        return schools_available
    except Exception as e:
        print(e)
        print("empty dataframe?")
    
    return np.nan

In [421]:
#Creating long data frame
stu = students[["AGE", 
                "home_node_id", 
                "home_zone_id", 
                "school_id", 
                'hh_inc_under_25k',
                'hh_inc_25_to_75k', 
                'hh_inc_75_to_200k',
                'HPrimaryCity']] 

dfs = []
for index, record in stu.iterrows():
    scs = school_choice_set(int(record['home_node_id']), int(record['AGE']))
    
    if pd.Series(record['school_id']).isin(scs)[0]: #Makes sure that the choseen school is in the choice set
        df = pd.DataFrame({'obs_id': index, 
                           'AGE': record['AGE'], 
                           'home_node_id' : record['home_node_id'],
                           'home_zone_id' : record['home_zone_id'], 
                           'chosen_school' : record['school_id'],
                           'school_choice_set': scs,
                           'hh_inc_under_25k': record['hh_inc_under_25k'],
                           'hh_inc_25_to_75k' : record['hh_inc_25_to_75k'],
                           'hh_inc_75_to_200k' : record['hh_inc_75_to_200k'],
                           'home_city': record['HPrimaryCity']})
                           
        dfs.append(df)
    

all_choices = pd.concat(dfs, axis=0)

#Creating the choice column
all_choices['choice'] = 1*(all_choices.chosen_school == all_choices.school_choice_set)
all_choices.head()

,obs_id,AGE,home_node_id,home_zone_id,chosen_school,school_choice_set,hh_inc_under_25k,hh_inc_25_to_75k,hh_inc_75_to_200k,home_city,choice
939,1,14,2089641167,311,3234.0,1939,0,0,1,REDWOOD CITY,0
943,1,14,2089641167,311,3234.0,1943,0,0,1,REDWOOD CITY,0
944,1,14,2089641167,311,3234.0,1944,0,0,1,REDWOOD CITY,0
950,1,14,2089641167,311,3234.0,1950,0,0,1,REDWOOD CITY,0
951,1,14,2089641167,311,3234.0,1951,0,0,1,REDWOOD CITY,0

In [402]:
schools.columns

Index(['CDSCode', 'School', 'District', 'County', 'Street', 'City', 'Zip',
       'State', 'Latitude', 'Longitude', 'type', 'grade_0', 'grade_1',
       'grade_2', 'grade_3', 'grade_4', 'grade_5', 'grade_6', 'grade_7',
       'grade_8', 'grade_9', 'grade_10', 'grade_11', 'grade_12',
       'Kindergarten Enrollment', 'Grade 1 Enrollment', 'Grade 2 Enrollment',
       'Grade 3 Enrollment', 'Grade 4 Enrollment', 'Grade 5 Enrollment',
       'Grade 6 Enrollment', 'Grade 7 Enrollment', 'Grade 8 Enrollment',
       'Ungraded Elementary Enrollmnet', 'Grade 9 Enrollment',
       'Grade 10 Enrollment', 'Grade 11 Enrollment', 'Grade 12 Enrollment',
       'Ungraded Secondary Enrollment', 'Total Enrollment', 'sw_rank_2108',
       'sw_rank_2017', 'sw_rank_2016', 'ss_rank_2018_', 'ss_rank_2017',
       'ss_rank_2016', 'nodeID', 'school_parcel_id', 'school_id',
       'list_grades', 'school_node_id', 'school_zone_id'],
      dtype='object')

In [422]:
#Getting zone id for schools in the choice set
df = all_choices.merge(schools.loc[:,['school_id','school_zone_id','sw_rank_2108', 'City']], 
                       left_on = 'school_choice_set', 
                       right_on = 'school_id').sort_values('obs_id')

In [431]:
df[df.choice == 1]

df['home_city'] = df['home_city'].apply(lambda x: x.lower())
df['City'] = df['City'].apply(lambda x: x.lower())
df['same_city?'] = 1*(df['home_city'] == df['City'])

In [432]:
df

,obs_id,AGE,home_node_id,home_zone_id,chosen_school,school_choice_set,hh_inc_under_25k,hh_inc_25_to_75k,hh_inc_75_to_200k,home_city,choice,school_id,school_zone_id,sw_rank_2108,City,same_city?
0,1,14,2089641167,311,3234.0,1939,0,0,1,redwood city,0,1939,292,NaN,san mateo,0
13181,1,14,2089641167,311,3234.0,3289,0,0,1,redwood city,0,3289,254,NaN,san mateo,0
1524,1,14,2089641167,311,3234.0,2087,0,0,1,redwood city,0,2087,255,10.0,san mateo,0
9655,1,14,2089641167,311,3234.0,3272,0,0,1,redwood city,0,3272,212,NaN,south san francisco,0
14671,1,14,2089641167,311,3234.0,3300,0,0,1,redwood city,0,3300,342,NaN,portola valley,0
25363,1,14,2089641167,311,3234.0,3473,0,0,1,redwood city,0,3473,401,NaN,mountain view,0
22643,1,14,2089641167,311,3234.0,3376,0,0,1,redwood city,0,3376,350,NaN,palo alto,0
11520,1,14,2089641167,311,3234.0,3282,0,0,1,redwood city,0,3282,292,NaN,san mateo,0
1579,1,14,2089641167,311,3234.0,2090,0,0,1,redwood city,0,2090,283,9.0,san mateo,0
8986,1,14,2089641167,311,3234.0,3270,0,0,1,redwood city,0,3270,340,NaN,menlo park,0
8191,1,14,2089641167,311,3234.0,3264,0,0,1,redwood city,0,3264,246,NaN,burlingame,0
13011,1,14,2089641167,311,3234.0,3288,0,0,1,redwood city,0,3288,212,NaN,south san francisco,0
4716,1,14,2089641167,311,3234.0,3245,0,0,1,redwood city,0,3245,292,NaN,san mateo,0
6830,1,14,2089641167,311,3234.0,3260,0,0,1,redwood city,0,3260,340,NaN,menlo park,0
22889,1,14,2089641167,311,3234.0,3384,0,0,1,redwood city,0,3384,384,NaN,mountain view,0
25034,1,14,2089641167,311,3234.0,3446,0,0,1,redwood city,0,3446,350,NaN,stanford,0
5264,1,14,2089641167,311,3234.0,3250,0,0,1,redwood city,0,3250,289,NaN,belmont,0
18390,1,14,2089641167,311,3234.0,3343,0,0,1,redwood city,0,3343,350,NaN,palo alto,0
25570,1,14,2089641167,311,3234.0,3476,0,0,1,redwood city,0,3476,401,NaN,mountain view,0
8383,1,14,2089641167,311,3234.0,3266,0,0,1,redwood city,0,3266,303,NaN,redwood city,1
7211,1,14,2089641167,311,3234.0,3261,0,0,1,redwood city,0,3261,289,NaN,belmont,0
1391,1,14,2089641167,311,3234.0,2082,0,0,1,redwood city,0,2082,279,2.0,san mateo,0
9888,1,14,2089641167,311,3234.0,3273,0,0,1,redwood city,0,3273,311,NaN,foster city,0
14255,1,14,2089641167,311,3234.0,3299,0,0,1,redwood city,0,3299,303,NaN,redwood city,1
5503,1,14,2089641167,311,3234.0,3251,0,0,1,redwood city,0,3251,292,NaN,san mateo,0
18879,1,14,2089641167,311,3234.0,3346,0,0,1,redwood city,0,3346,350,NaN,palo alto,0
21626,1,14,2089641167,311,3234.0,3367,0,0,1,redwood city,0,3367,401,NaN,mountain view,0
23119,1,14,2089641167,311,3234.0,3396,0,0,1,redwood city,0,3396,384,NaN,mountain view,0
11116,1,14,2089641167,311,3234.0,3280,0,0,1,redwood city,0,3280,243,NaN,millbrae,0
438,1,14,2089641167,311,3234.0,1951,0,0,1,redwood city,0,1951,289,10.0,belmont,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170748,3308,16,1107072456,654,3352.0,2255,0,0,1,san jose,0,2255,569,2.0,san jose,1
180109,3308,16,1107072456,654,3352.0,3472,0,0,1,san jose,0,3472,515,NaN,san jose,1
211386,3308,16,1107072456,654,3352.0,2243,0,0,1,san jose,0,2243,584,8.0,san jose,1
211392,3308,16,1107072456,654,3352.0,2249,0,0,1,san jose,0,2249,586,NaN,san jose,1
211434,3308,16,1107072456,654,3352.0,2257,0,0,1,san jose,0,2257,640,5.0,san jose,1
209408,3308,16,1107072456,654,3352.0,2261,0,0,1,san jose,0,2261,651,9.0,san jose,1
174592,3308,16,1107072456,654,3352.0,3338,0,0,1,san jose,0,3338,679,NaN,san jose,1
175058,3308,16,1107072456,654,3352.0,3353,0,0,1,san jose,0,3353,645,NaN,san jose,1
211448,3308,16,1107072456,654,3352.0,2259,0,0,1,san jose,0,2259,584,2.0,san jose,1
174431,3308,16,1107072456,654,3352.0,3336,0,0,1,san jose,0,3336,628,NaN,san jose,1
173097,3308,16,1107072456,654,3352.0,3317,0,0,1,san jose,0,3317,679,NaN,san jose,1
155314,3308,16,1107072456,654,3352.0,3310,0,0,1,san jose,0,3310,474,NaN,san jose,1
175686,3308,16,1107072456,654,3352.0,3382,0,0,1,san jose,0,3382,521,NaN,san jose,1
175854,3308,16,1107072456,654,3352.0,3387,0,0,1,san jose,0,3387,679,NaN,san jose,1
172455,3308,16,1107072456,654,3352.0,3313,0,0,1,san jose,0,3313,521,NaN,san jose,1
175979,3308,16,1107072456,654,3352.0,3388,0,0,1,san jose,0,3388,700,NaN,morgan hill,0
176398,3308,16,1107072456,654,3352.0,3397,0,0,1,san jose,0,3397,645,NaN,san jose,1
171796,3308,16,1107072456,654,3352.0,3308,0,0,1,san jose,0,3308,661,NaN,san jose,1
211367,3308,16,1107072456,654,3352.0,2238,0,0,1,san jose,0,2238,641,7.0,san jose,1
173886,3308,16,1107072456,654,3352.0,3335,0,0,1,san jose,0,3335,517,NaN,san jose,1
159685,3308,16,1107072456,654,3352.0,3352,0,0,1,san jose,1,3352,503,NaN,san jose,1
176884,3308,16,1107072456,654,3352.0,3399,0,0,1,san jose,0,3399,679,NaN,san jose,1
160435,3308,16,1107072456,654,3352.0,3361,0,0,1,san jose,0,3361,604,NaN,san jose,1
177053,3308,16,1107072456,654,3352.0,3404,0,0,1,san jose,0,3404,679,NaN,san jose,1
161632,3308,16,1107072456,654,3352.0,3393,0,0,1,san jose,0,3393,503,NaN,santa clara,0
162322,3308,16,1107072456,654,3352.0,3403,0,0,1,san jose,0,3403,503,NaN,campbell,0
238392,3308,16,1107072456,654,3352.0,2252,0,0,1,san jose,0,2252,647,10.0,san jose,1
127057,3308,16,1107072456,654,3352.0,3350,0,0,1,san jose,0,3350,414,NaN,santa clara,0
171475,3308,16,1107072456,654,3352.0,3303,0,0,1,san jose,0,3303,645,NaN,san jose,1
172093,3308,16,1107072456,654,3352.0,3312,0,0,1,san jose,0,3312,679,NaN,san jose,1

In [433]:
#Getting beam generalized time and cost
data_long = df.merge(reset_beam_skims, 
                     how = 'left', 
                     left_on=['home_zone_id','school_zone_id'], 
                     right_on = ['from_zone_id','to_zone_id'])

In [434]:
data_long

#Imputing school grades
avg_grade = data_long.sw_rank_2108.mean()
data_long['rank'] = data_long.sw_rank_2108.fillna(avg_grade)
data_long

,obs_id,AGE,home_node_id,home_zone_id,chosen_school,school_choice_set,hh_inc_under_25k,hh_inc_25_to_75k,hh_inc_75_to_200k,home_city,...,gen_cost_WALK_TRANSIT,gen_tt_BIKE,gen_tt_CAR,gen_tt_DRIVE_TRANSIT,gen_tt_RIDE_HAIL,gen_tt_RIDE_HAIL_POOLED,gen_tt_RIDE_HAIL_TRANSIT,gen_tt_WALK,gen_tt_WALK_TRANSIT,rank
0,1,14,2089641167,311,3234.0,1939,0,0,1,redwood city,...,577.103546,42.142388,9.053736,14.992984,16.233625,12.613691,14.317352,177.719282,602.802226,6.72255
1,1,14,2089641167,311,3234.0,3289,0,0,1,redwood city,...,622.132326,45.430568,9.760158,16.162818,17.500262,13.597881,15.434471,191.585914,649.836158,6.72255
2,1,14,2089641167,311,3234.0,2087,0,0,1,redwood city,...,524.723129,38.317362,8.231980,13.632155,14.760191,11.468818,13.017847,161.588710,548.089285,10.00000
3,1,14,2089641167,311,3234.0,3272,0,0,1,redwood city,...,1311.348345,95.759853,20.572741,34.068452,36.887553,28.662002,32.533219,403.830280,1369.743275,6.72255
4,1,14,2089641167,311,3234.0,3300,0,0,1,redwood city,...,764.570303,55.831953,11.994759,19.863316,21.506968,16.711132,18.968212,235.449750,798.616962,6.72255
5,1,14,2089641167,311,3234.0,3473,0,0,1,redwood city,...,1374.756218,100.390147,21.567499,35.715770,38.671184,30.047902,34.106304,423.356761,1435.974730,6.72255
6,1,14,2089641167,311,3234.0,3376,0,0,1,redwood city,...,1132.152180,82.674239,17.761470,29.412987,31.846857,24.745331,28.087545,348.646744,1182.567425,6.72255
7,1,14,2089641167,311,3234.0,3282,0,0,1,redwood city,...,577.103546,42.142388,9.053736,14.992984,16.233625,12.613691,14.317352,177.719282,602.802226,6.72255
8,1,14,2089641167,311,3234.0,2090,0,0,1,redwood city,...,415.367521,30.331782,6.516383,10.791128,11.684074,9.078644,10.304846,127.912604,433.864023,9.00000
9,1,14,2089641167,311,3234.0,3270,0,0,1,redwood city,...,797.652672,58.247759,12.513763,20.722786,22.437558,17.434210,19.788952,245.637479,833.172504,6.72255
10,1,14,2089641167,311,3234.0,3264,0,0,1,redwood city,...,965.821381,70.528104,15.152033,25.091761,27.168058,21.109856,23.961047,297.425104,1008.829840,6.72255
11,1,14,2089641167,311,3234.0,3288,0,0,1,redwood city,...,1311.348345,95.759853,20.572741,34.068452,36.887553,28.662002,32.533219,403.830280,1369.743275,6.72255
12,1,14,2089641167,311,3234.0,3245,0,0,1,redwood city,...,577.103546,42.142388,9.053736,14.992984,16.233625,12.613691,14.317352,177.719282,602.802226,6.72255
13,1,14,2089641167,311,3234.0,3260,0,0,1,redwood city,...,797.652672,58.247759,12.513763,20.722786,22.437558,17.434210,19.788952,245.637479,833.172504,6.72255
14,1,14,2089641167,311,3234.0,3384,0,0,1,redwood city,...,1608.170710,117.434998,25.229360,41.779811,45.237013,35.149618,39.897081,495.236853,1679.783274,6.72255
15,1,14,2089641167,311,3234.0,3446,0,0,1,redwood city,...,1132.152180,82.674239,17.761470,29.412987,31.846857,24.745331,28.087545,348.646744,1182.567425,6.72255
16,1,14,2089641167,311,3234.0,3250,0,0,1,redwood city,...,386.879925,28.251505,6.069463,10.051029,10.882733,8.455994,9.598098,119.139837,404.107862,6.72255
17,1,14,2089641167,311,3234.0,3343,0,0,1,redwood city,...,1132.152180,82.674239,17.761470,29.412987,31.846857,24.745331,28.087545,348.646744,1182.567425,6.72255
18,1,14,2089641167,311,3234.0,3476,0,0,1,redwood city,...,1374.756218,100.390147,21.567499,35.715770,38.671184,30.047902,34.106304,423.356761,1435.974730,6.72255
19,1,14,2089641167,311,3234.0,3266,0,0,1,redwood city,...,575.265637,42.008176,9.024903,14.945235,16.181926,12.573520,14.271756,177.153297,600.882474,6.72255
20,1,14,2089641167,311,3234.0,3261,0,0,1,redwood city,...,386.879925,28.251505,6.069463,10.051029,10.882733,8.455994,9.598098,119.139837,404.107862,6.72255
21,1,14,2089641167,311,3234.0,2082,0,0,1,redwood city,...,444.774071,32.479165,8.066667,11.555102,12.511265,9.721380,11.034393,136.968364,464.580060,2.00000
22,1,14,2089641167,311,3234.0,3273,0,0,1,redwood city,...,94.652333,6.911888,1.484928,2.459040,6.080556,2.068806,2.348228,29.148226,98.867244,6.72255
23,1,14,2089641167,311,3234.0,3299,0,0,1,redwood city,...,575.265637,42.008176,9.024903,14.945235,16.181926,12.573520,14.271756,177.153297,600.882474,6.72255
24,1,14,2089641167,311,3234.0,3251,0,0,1,redwood city,...,577.103546,42.142388,9.053736,14.992984,16.233625,12.613691,14.317352,177.719282,602.802226,6.72255
25,1,14,2089641167,311,3234.0,3346,0,0,1,redwood city,...,1132.152180,82.674239,17.761470,29.412987,31.846857,24.745331,28.087545,348.646744,1182.567425,6.72255
26,1,14,2089641167,311,3234.0,3367,0,0,1,redwood city,...,1374.756218,100.390147,21.567499,35.715770,38.671184,30.047902,34.106304,423.356761,1435.974730,6.72255
27,1,14,2089641167,311,3234.0,3396,0,0,1,redwood city,...,1608.170710,117.434998,25.229360,41.779811,45.237013,35.149618,39.897081,495.236853,1679.783274,6.72255
28,1,14,2089641167,311,3234.0,3280,0,0,1,redwood city,...,1049.446258,76.634724,16.463960,27.264311,29.520382,22.937636,26.035695,323.177421,1096.178571,6.72255
29,1,14,2089641167,311,3234.0,1951,0,0,1,redwood city,...,386.879925,28.251505,6.069463,10.051029,10.882733,8.455994,9.598098,119.139837,404.107862,10.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255189,3308,16,1107072456,654,3352.0,2255,0,0,1,san jose,...,557.805498,40.733168,6.250000,14.491626,15.690781,12.191896,13.838587,171.776440,582.644827,2.00000
255190,3308,16,1107072456,654,3352.0,3472,0,0,1,san jose,...,1292.050296,94.350633,9.883333,33.567094,36.344709,28.240207,32.054454,397.887437,1349.585876,6.72255
255191,3308,16,1107072456,654,3352.0,2243,0,0,1,san jose,...,586.293093,42.813445,5.829167,15.231725,16.492122,12.814546,14.545336,180.549207,612.400988,8.00000
255192,3308,16,1107072456,654,3352.0,2249,0,0,1,san jose,...,761.813439,55.630636,11.951508,19.791693,21.429419,16.650876,18.899817,234.600772,795.737334,6.72255
255193,3308,16,1107072456,654,3352.0,2257,0,0,1,san jose,...,622.132326,45.430568,5.866667,16.162818,17.500262,13.597881,15.434471,191.585914,649.836158,5.00000
255194,3308,16,1107072456,654,3352.0,2261,0,0,1,san jose,...,432.827660,31.606791,6.790302,11.244738,12.175219,9.460268,10.738014,133.289462,452.101670,9.00000
255195,3308,16,1107072456,654,3352.0,3338,0,0,1,san jose,...,941.928559,68.783356,9.550000,24.471032,26.495965,20.587633,23.368290,290.067300,983.873060,6.72255
255196,3308,16,1107072456,654,3352.0,3353,0,0,1,san jose,...,525.642083,38.384468,8.246397,13.656030,14.786041,11.488904,13.040646,161.871703,549.049161,6.72255
255197,3308,16,1107072456,654,3352.0,2259,0,0,1,san jose,...,586.293093,42.813445,5.829167,15.231725,16.492122,12.814546,14.545336,180.549207,612.400988,2.00000
255198,3308,16,1107072456,654,3352.0,3336,0,0,1,san jose,...,1018.201798,74.353130,15.973789,26.452589,28.641492,22.254729,25.260552,313.555676,1063.542781,6.72255
255199,3308,16,1107072456,654,3352.0,3317,0,0,1,san jose,...,941.928559,68.783356,9.550000,24.471032,26.495965,20.587633,23.368290,290.067300,983.873060,6.72255
255200,3308,16,1107072456,654,3352.0,3310,0,0,1,san jose,...,1472.165416,107.503352,19.500000,38.246433,41.411254,32.176964,36.522928,453.353965,1537.721602,6.72255
255201,3308,16,1107072456,654,3352.0,3382,0,0,1,san jose,...,1267.238519,92.538778,19.880736,32.922491,35.646766,27.697899,31.438900,390.246640,1323.669220,6.72255
255202,3308,16,1107072456,654,3352.0,3387,0,0,1,san jose,...,941.928559,68.783356,9.550000,24.471032,26.495965,20.587633,23.368290,290.067300,983.873060,6.72255
255203,3308,16,1107072456,654,3352.0,3313,0,0,1,san jose,...,1267.238519,92.538778,19.880736,32.922491,35.646766,27.697899,31.438900,390.246640,1323.669220,6.72255
255204,3308,16,1107072456,654,3352.0,3388,0,0,1,san jose,...,1946.346036,142.129900,19.537037,50.565508,54.749711,42.541080,48.286867,599.378088,2033.017699,6.72255
255205,3308,16,1107072456,654,3352.0,3397,0,0,1,san jose,...,525.642083,38.384468,8.246397,13.656030,14.786041,11.488904,13.040646,161.871703,549.049161,6.72255
255206,3308,16,1107072456,654,3352.0,3308,0,0,1,san jose,...,854.627863,62.408313,5.200000,22.202985,24.040241,18.679511,21.202449,263.183013,892.684825,6.72255
255207,3308,16,1107072456,654,3352.0,2238,0,0,1,san jose,...,625.808145,45.698991,12.300000,16.258315,17.603660,13.678223,15.525664,192.717884,653.675662,7.00000
255208,3308,16,1107072456,654,3352.0,3335,0,0,1,san jose,...,1540.168063,112.469175,13.316667,40.013122,43.324134,33.663291,38.210004,474.295409,1608.752438,6.72255
255209,3308,16,1107072456,654,3352.0,3352,0,0,1,san jose,...,1413.352315,103.208587,15.366667,36.718485,39.756872,20.820000,35.063834,435.242446,1476.289528,6.72255
255210,3308,16,1107072456,654,3352.0,3399,0,0,1,san jose,...,941.928559,68.783356,9.550000,24.471032,26.495965,20.587633,23.368290,290.067300,983.873060,6.72255
255211,3308,16,1107072456,654,3352.0,3361,0,0,1,san jose,...,1340.754895,97.907235,13.625000,34.832425,37.714744,29.304738,33.262766,412.886039,1400.459312,6.72255
255212,3308,16,1107072456,654,3352.0,3404,0,0,1,san jose,...,941.928559,68.783356,9.550000,24.471032,26.495965,20.587633,23.368290,290.067300,983.873060,6.72255
255213,3308,16,1107072456,654,3352.0,3393,0,0,1,san jose,...,1413.352315,103.208587,15.366667,36.718485,39.756872,20.820000,35.063834,435.242446,1476.289528,6.72255
255214,3308,16,1107072456,654,3352.0,3403,0,0,1,san jose,...,1413.352315,103.208587,15.366667,36.718485,39.756872,20.820000,35.063834,435.242446,1476.289528,6.72255
255215,3308,16,1107072456,654,3352.0,2252,0,0,1,san jose,...,606.510096,44.289771,5.616667,15.756957,17.060816,13.256427,15.046899,186.775042,633.518263,10.00000
255216,3308,16,1107072456,654,3352.0,3350,0,0,1,san jose,...,1413.352315,103.208587,15.233333,36.718485,39.756872,30.891492,35.063834,435.242446,1476.289528,6.72255
255217,3308,16,1107072456,654,3352.0,3303,0,0,1,san jose,...,525.642083,38.384468,8.246397,13.656030,14.786041,11.488904,13.040646,161.871703,549.049161,6.72255
255218,3308,16,1107072456,654,3352.0,3312,0,0,1,san jose,...,941.928559,68.783356,9.550000,24.471032,26.495965,20.587633,23.368290,290.067300,983.873060,6.72255

In [239]:
# all_choices_costs = pd.merge(all_choices, reset_beam_skims,  how='left', left_on=['school_zone_id','home_zone_id'], right_on = ['to_zone_id','from_zone_id'])
# all_choices_costs = all_choices_costs.set_index("node_id_home")
# all_choices_costs.head()
# all_choices_costs.to_csv("all_choices_costs.csv")

## Model estimation

In [49]:
import pylogit as pl 
import math 
from collections import OrderedDict

In [88]:
data_long = pd.DataFrame({'household_id': [1,1,1,2,2,2,3,3], 
                          'school_id': [1,2,3,6,3,8,7,8],
                          'choice': [1,0,0,1,0,0,0,1],
                          'travel_distance_car': [2,4,6,4,5,6,8,9]})
data_long

   household_id  school_id  choice  travel_distance_car
0             1          1       1                    2
1             1          2       0                    4
2             1          3       0                    6
3             2          6       1                    4
4             2          3       0                    5
5             2          8       0                    6
6             3          7       0                    8
7             3          8       1                    9

In [89]:
# # Specify the nesting values
# nest_membership = OrderedDict()
# nest_membership["Ride alone"] = [1,2,3]
# nest_membership["Shared option"] = [6,7,8]

# def logit(x):
#     """
#     Parameters
#     ----------
#     x : int, float, or 1D ndarray.
#         If an array, all elements should be ints or floats. All
#         elements should be between zero and one, exclusive of 1.0.

#     Returns
#     -------
#     The logit of x:  `np.log(x / (1.0 - x))`.
#     """
#     return np.log(x/(1.0 - x))

In [147]:
# basic_specification = OrderedDict()
# basic_names = OrderedDict()

# basic_specification["travel_distance_car"] = [[1,2,3,6,7,8]]
# basic_names["travel_distance_car"] = ['Travel Time']

In [148]:
# # Estimate the nested multinomial logit model (MNL)
# SLCM = pl.create_choice_model(data = data_long,
#                                         alt_id_col = 'school_id',
#                                         obs_id_col = 'household_id',
#                                         choice_col = 'choice',
#                                         specification = basic_specification,
#                                         model_type="Nested Logit",
#                                         names=basic_names,
#                                         nest_spec=nest_membership)

# # Specify the initial values and method for the optimization.
# SLCM.fit_mle(np.zeros(3),constrained_pos=[0])

# type(SLCM.get_statsmodels_summary())

In [149]:
# SLCM.get_statsmodels_summary().add_table_params

In [382]:
data_long.columns

Index(['obs_id', 'AGE', 'home_node_id', 'home_zone_id', 'chosen_school',
       'school_choice_set', 'hh_inc_under_25k', 'hh_inc_25_to_75k',
       'hh_inc_75_to_200k', 'choice', 'school_id', 'school_zone_id',
       'sw_rank_2108', 'from_zone_id', 'to_zone_id', 'dist', 'gen_cost_BIKE',
       'gen_cost_CAR', 'gen_cost_DRIVE_TRANSIT', 'gen_cost_RIDE_HAIL',
       'gen_cost_RIDE_HAIL_POOLED', 'gen_cost_RIDE_HAIL_TRANSIT',
       'gen_cost_WALK', 'gen_cost_WALK_TRANSIT', 'gen_tt_BIKE', 'gen_tt_CAR',
       'gen_tt_DRIVE_TRANSIT', 'gen_tt_RIDE_HAIL', 'gen_tt_RIDE_HAIL_POOLED',
       'gen_tt_RIDE_HAIL_TRANSIT', 'gen_tt_WALK', 'gen_tt_WALK_TRANSIT',
       'rank', 'np.log1p(gen_tt_CAR)', 'gen_cost_CAR:hh_inc_under_25k',
       'gen_cost_CAR:hh_inc_25_to_75k', 'gen_cost_CAR:hh_inc_75_to_200k'],
      dtype='object')

In [435]:
data_long.columns

Index(['obs_id', 'AGE', 'home_node_id', 'home_zone_id', 'chosen_school',
       'school_choice_set', 'hh_inc_under_25k', 'hh_inc_25_to_75k',
       'hh_inc_75_to_200k', 'home_city', 'choice', 'school_id',
       'school_zone_id', 'sw_rank_2108', 'City', 'same_city?', 'from_zone_id',
       'to_zone_id', 'dist', 'gen_cost_BIKE', 'gen_cost_CAR',
       'gen_cost_DRIVE_TRANSIT', 'gen_cost_RIDE_HAIL',
       'gen_cost_RIDE_HAIL_POOLED', 'gen_cost_RIDE_HAIL_TRANSIT',
       'gen_cost_WALK', 'gen_cost_WALK_TRANSIT', 'gen_tt_BIKE', 'gen_tt_CAR',
       'gen_tt_DRIVE_TRANSIT', 'gen_tt_RIDE_HAIL', 'gen_tt_RIDE_HAIL_POOLED',
       'gen_tt_RIDE_HAIL_TRANSIT', 'gen_tt_WALK', 'gen_tt_WALK_TRANSIT',
       'rank'],
      dtype='object')

In [450]:
#Orca step
# data_long = pd.DataFrame({'household_id': [1,1,1,2,2,2,3,3], 
#                           'school_id': [1,2,3,6,3,8,7,8],
#                           'choice': [1,0,0,1,0,0,0,1],
#                           'travel_distance_car': [2,4,6,4,5,6,8,9]})

list_1 = [1459, 1685, 1746, 1749, 1750, 2006, 2063, 2327, 2662, 2679, 3378, 3379, 3381, 3432, 3454]


@orca.injectable(autocall=False)
def SLCM(data_long):
    # Specify the nested structure
    nest_membership = OrderedDict()
    nest_membership["Public School"] = list(set(range(1000,2828,1)) -set([1459, 1685, 1746, 1749, 1750, 2006, 2063, 2327, 2662, 2679]))
    nest_membership["Private School"] = list(set(range(2828,3547,1)) -set([3378, 3379, 3381, 3432, 3454]))
    
    #Model especification
    basic_specification = OrderedDict()
    basic_names = OrderedDict()
        
    basic_specification["gen_tt_RIDE_HAIL"] = [list(set(range(1000,3547,1)) - set(list_1)) ]
    basic_names["gen_tt_RIDE_HAIL"] = ['gen_tt_RIDE_HAIL']
    
    basic_specification["gen_tt_WALK"] = [list(set(range(1000,3547,1)) - set(list_1)) ]
    basic_names["gen_tt_WALK"] = ['gen_tt_WALK']
        
    basic_specification["gen_tt_WALK_TRANSIT"] = [list(set(range(1000,3547,1)) - set(list_1)) ]
    basic_names["gen_tt_WALK_TRANSIT"] = ['gen_tt_WALK_TRANSIT']
    
    # Travel time
    data_long["np.log1p(gen_tt_CAR)"] = np.log1p(data_long['gen_tt_CAR'])
    basic_specification["np.log1p(gen_tt_CAR)"] = [list(set(range(1000,3547,1)) - set(list_1)) ]
    basic_names["np.log1p(gen_tt_CAR)"] = ['Log Travel Time']
    
     # Travel time
    basic_specification["gen_tt_WALK"] = [list(set(range(1000,3547,1)) - set(list_1)) ]
    basic_names["gen_tt_WALK"] = ['Travel Time walk']
    
    #Distance
    basic_specification["dist"] = [list(set(range(1000,3547,1)) - set(list_1)) ]
    basic_names["dist"] = ['Distance']
    
    #Rank
    basic_specification["rank"] = [list(set(range(1000,2828,1)) -set([1459, 1685, 1746, 1749, 1750, 2006, 2063, 2327, 2662, 2679]))]
    basic_names["rank"] = ['School Rank'] 
    
    #Income
    data_long['gen_cost_CAR:hh_inc_under_25k'] = data_long['gen_cost_CAR'] * data_long['hh_inc_under_25k']
    data_long['gen_cost_CAR:hh_inc_25_to_75k'] = data_long['gen_cost_CAR'] * data_long['hh_inc_25_to_75k']
    data_long['gen_cost_CAR:hh_inc_75_to_200k'] = data_long['gen_cost_CAR'] * data_long['hh_inc_75_to_200k']
    
    basic_specification['gen_cost_CAR:hh_inc_under_25k'] = [list(set(range(1000,3547,1)) - set(list_1)) ]
    basic_names['gen_cost_CAR:hh_inc_under_25k'] = ['gen_cost_CAR:hh_inc_under_25k'] 
    
    basic_specification['gen_cost_CAR:hh_inc_25_to_75k'] = [list(set(range(1000,3547,1)) - set(list_1)) ]
    basic_names['gen_cost_CAR:hh_inc_25_to_75k'] = ['gen_cost_CAR:hh_inc_25_to_75k'] 
    
    basic_specification['gen_cost_CAR:hh_inc_75_to_200k'] = [list(set(range(1000,3547,1)) - set(list_1)) ]
    basic_names['gen_cost_CAR:hh_inc_75_to_200k'] = ['gen_cost_CAR:hh_inc_75_to_200k'] 
    
    #SameCity
    basic_specification['same_city?'] = [list(set(range(1000,2828,1)) -set([1459, 1685, 1746, 1749, 1750, 2006, 2063, 2327, 2662, 2679]))]
    basic_names['same_city?'] = ['same_city?']  
    
    #Interaction terms
    data_long['distance:np.log1p(gen_tt_CAR)'] = data_long['dist'] * data_long["np.log1p(gen_tt_CAR)"]
    basic_specification['distance:np.log1p(gen_tt_CAR)'] = [list(set(range(1000,3547,1)) - set(list_1)) ]
    basic_names['distance:np.log1p(gen_tt_CAR)'] = ['distance:np.log1p(gen_tt_CAR)']
    
    #School rank and income
    data_long['rank:hh_inc_under_25k'] = data_long['rank'] * data_long['hh_inc_under_25k']
    data_long['rank:hh_inc_25_to_75k'] = data_long['rank'] * data_long['hh_inc_25_to_75k']
    data_long['rank:hh_inc_75_to_200k'] = data_long['rank'] * data_long['hh_inc_75_to_200k']   
    
    basic_specification['rank:hh_inc_under_25k'] = [list(set(range(1000,3547,1)) - set(list_1)) ]
    basic_names['rank:hh_inc_under_25k'] = ['rank:hh_inc_under_25k'] 
    
    basic_specification['rank:hh_inc_25_to_75k'] = [list(set(range(1000,3547,1)) - set(list_1)) ]
    basic_names['rank:hh_inc_25_to_75k'] = ['rank:hh_inc_25_to_75k'] 
    
    basic_specification['rank:hh_inc_75_to_200k'] = [list(set(range(1000,3547,1)) - set(list_1)) ]
    basic_names['rank:hh_inc_75_to_200k'] = ['rank:hh_inc_75_to_200k']   
    
    #Same city and distance
    data_long['dist:sameCity'] = data_long['dist'] * data_long['same_city?']
    basic_specification['dist:sameCity'] = [list(set(range(1000,3547,1)) - set(list_1)) ]
    basic_names['dist:sameCity'] = ['dist:sameCity']  
    
    

    # Estimate the nested multinomial logit model (MNL)
    SLCM = pl.create_choice_model(data = data_long,
                                        alt_id_col = 'school_choice_set',
                                        obs_id_col = 'obs_id',
                                        choice_col = 'choice',
                                        specification = basic_specification,
                                        model_type="Nested Logit",
                                        names=basic_names,
                                        nest_spec=nest_membership)

    # Specify the initial values and method for the optimization.
    SLCM.fit_mle(np.zeros(17),constrained_pos=[0])
        
    #Resutls
    return SLCM

In [451]:
orca.get_injectable('SLCM')(data_long).get_statsmodels_summary().add_table_params

Log-likelihood at zero: -11,789.9798
Initial Log-likelihood: -11,789.9798
Estimation Time for Point Estimation: 5.91 minutes.
Final log-likelihood: -7,261.7009

<bound method Summary.add_table_params of <class 'statsmodels.iolib.summary.Summary'>
"""
                    Nested Logit Model Regression Results
==============================================================================
Dep. Variable:                 choice   No. Observations:                2,875
Model:             Nested Logit Model   Df Residuals:                    2,858
Method:                           MLE   Df Model:                           17
Date:                Mon, 24 Jun 2019   Pseudo R-squ.:                   0.384
Time:                        21:28:14   Pseudo R-bar-squ.:               0.383
AIC:                       14,557.402   Log-Likelihood:             -7,261.701
BIC:                       14,658.787   LL-Null:                   -11,789.980
==================================================================================================
                                     coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
Public School                           0        nan        nan        nan         nan         nan
Private School                     0.9732      0.132      7.346      0.000       0.714       1.233
gen_tt_RIDE_HAIL                   0.0089      0.006      1.529      0.126      -0.003       0.020
Travel Time walk                   0.0007      0.000      1.579      0.114      -0.000       0.002
gen_tt_WALK_TRANSIT                0.0004      0.000      2.119      0.034    2.83e-05       0.001
Log Travel Time                   -0.5027      0.038    -13.072      0.000      -0.578      -0.427
Distance                          -0.0004    2.2e-05    -16.972      0.000      -0.000      -0.000
School Rank                        0.2321      0.012     19.890      0.000       0.209       0.255
gen_cost_CAR:hh_inc_under_25k      0.0173      0.013      1.357      0.175      -0.008       0.042
gen_cost_CAR:hh_inc_25_to_75k      0.0076      0.011      0.709      0.478      -0.013       0.028
gen_cost_CAR:hh_inc_75_to_200k     0.0019      0.007      0.255      0.799      -0.013       0.017
same_city?                         0.6346      0.046     13.762      0.000       0.544       0.725
distance:np.log1p(gen_tt_CAR)   6.723e-05   5.56e-06     12.097      0.000    5.63e-05    7.81e-05
rank:hh_inc_under_25k             -0.2539      0.020    -12.568      0.000      -0.294      -0.214
rank:hh_inc_25_to_75k             -0.2527      0.016    -15.839      0.000      -0.284      -0.221
rank:hh_inc_75_to_200k            -0.0794      0.015     -5.315      0.000      -0.109      -0.050
dist:sameCity                   3.517e-05   6.49e-06      5.420      0.000    2.24e-05    4.79e-05
==================================================================================================
""">

In [377]:
# -7,965.2369 Wiht np.log1p
# -8,129.6396 without np.log1p
# -7,947.6792 with np.log1p in car cost
# -7,935.404
# -7,640.791 Adding Same city Same city For all public and private
# -7,513.121 Same city for only public schools
# -7,273.447 Interaction terms (distance:tt_car) (rank:Income)
# -7,261.701 Intercation (dist:SameCity)

In [443]:
household_chts.columns

Index(['SAMPN', 'RECMODE', 'RETMODE', 'INCEN', 'ILANG', 'CTFIP', 'AREA',
       'STRATA', 'STYPE', 'CEC', 'GTYPE', 'GFLAG', 'RIBUS', 'HHVEH', 'HHBIC',
       'VEHNEW', 'BUYER1', 'BUYER2', 'BUYER3', 'BUYER4', 'BUYER5', 'BUYER6',
       'BUYER7', 'BUYER8', 'RESTY', 'O_RESTY', 'OWN', 'O_OWN', 'TEN',
       'PREVCITY', 'PREVSTAT', 'PREVZIP', 'PHLNS', 'INCOM', 'HHSIZ',
       'NONRELAT', 'HHEMP', 'HHSTU', 'HHLIC', 'RECDate', 'ASSN', 'DOW',
       'HTRIPS', 'HCITY', 'HSTAT', 'HZIP', 'HXCORD', 'HYCORD', 'HHNOV1',
       'HHNOV2', 'HHNOV3', 'HHNOV4', 'HHNOV5', 'HHNOV6', 'HHNOV7', 'HHNOV8',
       'VEHOP', 'VEHPR', 'VEDTE', 'FUTUR', 'CMPLD', 'LDPER1', 'LDPER2',
       'LDPER3', 'LDPER4', 'LDPER5', 'LDPER6', 'LDPER7', 'LDPER8', 'LDTRP',
       'LDFlag', 'HPFlag', 'HH_Complete', 'GPS_Complete', 'HCTRACT',
       'HPrimaryCity', 'HSTFIP', 'MTC_FInalFlag', 'HHWGT', 'EXPHHWGT'],
      dtype='object')